/* martview styles */

TD.panel_big_head{ 	
  background-color: #EEEEEE
  font-size:        large;
  font-weight:      bold;   
  color:            #990000;
  align:            left; }

TD.panel_head{ 	
/*  background-color: #BFD5E8; */
  background-color: #EEEEEE;
  font-weight:      bold;   
/*  color:            #3366FF; */
  align:            left; }

TD.block_head { 
  background-color: #FFFFFF;
  font-style:       italic;
  font-weight:      bold;
  color:            #;
  align:            left;  }

TD.mart_block_head { 
  background-color: #FFFFFF;
  font-style:       italic;
  align:            left;  }

TD.alt_mart_block_head { 
  background-color: #FFFFFF;
  font-style:       italic;
  font-weight:      bold;
  color:            navy;
  align:            left;  }

TD.entry_warning { 
  background-color: #FFFFFF;
  font-style:       italic;
  color:            #990000;
  align:            left;  }

TD.panel_text{ 
  background-color: #EEEEEE;
  align:            left; }

TD.status_panel_head{ 
  /* background-color: 5870a3; */
  background-color: #cccccc;
  /* color:            #; */
  color:            #;
  font-size:        large;
  font-weight:      bold;   
  align:            left; }

TD.status_block_head{ 
  background-color: #CCCCCC;
  color:            #;
  font-size:        medium;
  font-weight:      bold;   
  align:            left; }

TD.status_entry{ 
/*  background-color: 5870a3; */
/*  color:            #FFFFFF; */
  background-color: #CCCCCC;
  color:            #;
  font-size:        medium;
  align:            left; }

TD.status_warning { 
  background-color: 5870a3;
  color:            #990000;
  font-size:        small;
  font-style:       italic;
  align:            left;  }

TD.main_panel_bg {
/*  background-color: BFD5E8 */
    background-color: #EEEEEE
}

TD.main_panel_fg {
  background-color: #FFFFFF;
  align:            left;
}

TD.alt_main_panel_fg {
  background-color: #FFFFFF;
  align:            left;
  color:            navy; 
/*  font-weight:       bold; */
/*  font-style:       italic; */
}

TD.main_panel_border {
/*  background-color: #999999; */
  background-color: #336666;
}

TD.main_panel_fg_bold {
  background-color: #FFFFFF;
  color:            #;
  align:            left;
  font-size:        small;
  font-weight:      bold;
}

/* New CSS directives - BG */

table.standard_two_col {
    border:    	    	1px solid #808080;
    background-color: 	#EEEEEE;
    border-spacing: 	0px;
    margin:             0px;
}

table.standard_two_col tr th {
    border:    	      1px solid #808080;
    align:            left;  
    padding: 	    	  4px;
    font-style:       bold;
    font-size:     	  13pt;
    color:  	    	  #FFFFFF;
    background-color: 5870a3;
    
}

table.standard_two_col tr td {
    border:    	    	1px solid #808080;
    padding: 	    	4px;    
    background-color: 	#EEEEEE;
}

table.hidden { 
   border: 			0px;
   border-spacing: 	0px  ;
} 


table.hidden tr th {
   border: 0px ;
   padding-left: 	4px ;
   padding-top: 	0px ;
   padding-bottom: 	2px ;
   border-spacing: 	0px ;
   font-style:     	bold;
   background-color: 	#EEEEEE;
   font-size:      	10pt;
   color:  	    	#000000;
}

table.hidden tr td { 
   border: 0px ;
   padding-left: 	4px ;
   padding-top: 	0px ;
   padding-bottom: 	2px ;
   border-spacing: 	0px ;
}
