/* Stylesheet for print version of site */
body, h2, h4 { color:#000000; }
body { background-position:top right; background: none }

#related, #search, #help, #release-t { display: none }

#copy, #copy #a1, #copy #a2, #page, #page #i1, #page #i2 { margin: 0px; padding: 0px }

#release { position: absolute; right: 0.4em; top: 0.4em; z-index: 10; margin:0px;
           padding:0px; border: 0px; border-style:none; border-width:0px;
           border-color:transparent; background-color:transparent; text-align:right; color:#000000; }

#release div { background-color:transparent; text-align:right; color:#000000; margin-right:2em; }

.print_hide_tr, .print_hide_table, .print_hide_block, .print_hide { display: none }

#page div.sptop { height: 5em }

