body { color: #555555; }
body { background-image: url(/img/nav-bg.gif); background-repeat: repeat-y; background-position: left; }
#related, #search, #help, #release-t { display: block }

#copy, #page { width: 100%; padding: 0px ; background: none }
#page { width: 100%; padding:0px; background: none; }

#copy #a1, #page #i1 { padding: 0px 0px 0px 210px; background: none; }
#copy #a2, #page #i2 { padding: 0px 5px 0px 0px; background: none; }

#release { width: 100%; top: 5em; margin: 1px 0px; text-align: left;
           right: 0px; height:1.5em; background-color:#9bb9dd;
           padding:0.2em 0px 0.2em 0px; border-style:solid;
           border-width:1px 0px 1px 0px; border-color:#3366bb;
           z-index:20; left:0px; color:#fff; font-weight:bold; }

#release div { padding-left: 0.5em; }

.print_hide { display: inline }
.print_hide_block { display: block }
.print_hide_table { display: table }
.print_hide_tr { display: table-row }

#page div.sptop { height: 7em }

.mart_main_menubar { border-bottom: 1px solid black; }
.mart_summarypanel_datasets { border-width: 1px 1px 1px 1px; border-color: #999 }
#mart_mainpanel { border-width: 1px 1px 1px 1px; border-color: #999 }
.mart_databasemenu, .mart_interfacemenu, .mart_datasetmenu { border-bottom-width: 1px; border-bottom-color: #999; }
.dummyLine { border-bottom: 1px solid #999 }
div#mart_mainpanel { border: 1px solid #999 }
div#mart_bottom_bar { border: 0px; border-top: 1px solid black }

.mart_btn, .mart_btnhov, .mart_btn_go, .mart_btnhov_go { background-color: #993333; color: #fff; border: 2px outset #933 }

.mart_tableSummaryPanel { background-color: #ffd }


.mart_summarypanel_listheader, .mart_summarypanel_listheader_mouseover, .mart_summarypanel_listheader_highlighted, .mart_summarypanel_AttFiltHeader, .mart_summarypanel_AttFiltHeader_highlighted, .mart_summarypanel_AttFiltHeader_mouseover { color: #426fbf; padding: 0 2px }

.mart_summarypanel_listheader:hover, .mart_summarypanel_listheader_mouseover:hover, .mart_summarypanel_listheader_highlighted:hover, .mart_summarypanel_AttFiltHeader:hover, .mart_summarypanel_AttFiltHeader_highlighted:hover, .mart_summarypanel_AttFiltHeader_mouseover:hover { color: #cc0000 }

.mart_btnhov_go:hover, .mart_btnhov:hover { background-color: #933 }

.mart_summarypanel_listheader_highlighted, .mart_summarypanel_AttFiltHeader_highlighted { background-color: #fc9 }
