<html>
<head>
  <meta name="navigation" content="Comparative Genomics">
  <title>Pairwise Alignments</title>
</head>

<body>

<h2><TMPL_VAR NAME=REF_NAME> vs <TMPL_VAR NAME=NON_REF_NAME> <TMPL_VAR NAME=METHOD_TYPE> alignments</h2>

<p><TMPL_VAR NAME=REF_NAME> (<i><TMPL_VAR NAME=REF_SPECIES></i>, <TMPL_VAR NAME=REF_ASSEMBLY>) and <TMPL_VAR NAME=NON_REF_NAME>(<i><TMPL_VAR NAME=NON_REF_SPECIES></i>, <TMPL_VAR NAME=NON_REF_ASSEMBLY>) were aligned using the <TMPL_VAR NAME=METHOD_TYPE> alignment algorithm (<TMPL_VAR NAME=REFERENCE>)
in Ensembl release <TMPL_VAR NAME=ENSEMBL_RELEASE>. <TMPL_VAR NAME=REF_NAME>  was used as the reference species. After running <TMPL_VAR NAME=METHOD_TYPE>, the raw <TMPL_VAR NAME=METHOD_TYPE>  alignment blocks are chained according to their location in both genomes. During the final netting process, the best sub-chain is chosen in each region on the reference species.</p>

<a href="/info/genome/compara/analyses.html" class="cp-external">Full list of 
pairwise alignments</a>

<h3>Configuration parameters</h3>
<TMPL_VAR NAME=CONFIG>


<h3>Results</h3>

<p>Number of alignment blocks: <TMPL_VAR NAME=NUM_BLOCKS></p>

<table style="text-align: left; width: 100%;" border="0" cellpadding="2"
cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top;">
</td>
<th style="vertical-align: top;">Genome coverage(bp)
</th>
<th style="vertical-align: top;">Coding exon coverage (bp)
</th>
</tr>
<tr>
<th style="vertical-align: middle;"><TMPL_VAR NAME=REF_NAME></th>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=REF_ALIGN_PIE>"/>
</td>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=REF_ALIGN_CODEXON_PIE>"/>
</td>
</tr>
<tr>
<td></td>
<td style="vertical-align: top;"><TMPL_VAR NAME=REF_ALIGN> out of <TMPL_VAR NAME=REF_GENOME_SIZE>
</td>
<td style="vertical-align: top;">Matches: <TMPL_VAR NAME=REF_MATCHES> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Mis-matches: <TMPL_VAR NAME=REF_MISMATCHES> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Insertions: <TMPL_VAR NAME=REF_INSERTIONS> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Uncovered: <TMPL_VAR NAME=REF_UNCOVERED> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
</tr>

</tr>
<tr>
<th style="vertical-align: middle;"><TMPL_VAR NAME=NON_REF_NAME>
</th>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=NON_REF_ALIGN_PIE>"/>
</td>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=NON_REF_ALIGN_CODEXON_PIE>"/>
</td>
</tr>
<tr>
<td></td>
<td style="vertical-align: top;"><TMPL_VAR NAME=NON_REF_ALIGN> out of <TMPL_VAR NAME=NON_REF_GENOME_SIZE>
</td>
<td style="vertical-align: top;">Matches: <TMPL_VAR NAME=NON_REF_MATCHES> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Mis-matches: <TMPL_VAR NAME=NON_REF_MISMATCHES> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Insertions: <TMPL_VAR NAME=NON_REF_INSERTIONS> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Uncovered: <TMPL_VAR NAME=NON_REF_UNCOVERED> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

</tbody>
</table>

</body>
</html>
