language: "perl"

perl:
  - "5.14"
  - "5.10"
  - "5.24"

env:
  matrix:
  - COVERALLS=true
  - COVERALLS=false
  global:
    secure: bGSZASCtRCcE2VZ3u4hdvjh6CDHe+Uo3MR7B4eobSFFhZVjIN3/DKaGrQYprEeSIB/vb75rveyTheO3qe3lHwq71e18cBk2ulQA6/L0eUJYsoR3u2y7d9whu8dS97IoLzize6hItxJFP8TmRaJBtWqOixyWHNW72X/fKF1a192E=

sudo: false

before_install:
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-test.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-rest.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-variation.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-io.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-vep.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl.git
    - git clone --branch version/2.4 --depth 1 https://github.com/Ensembl/ensembl-hive.git
    - ln -s . ensembl-compara
    - git clone --branch v1.6.x --depth 1 https://github.com/bioperl/bioperl-live
    - sed -i '/Bio::DB::HTS/d' ensembl-rest/cpanfile


install:
    - cp -f travisci/MultiTestDB.conf.travisci  modules/t/MultiTestDB.conf
    - cp -f ensembl-rest/travisci/MultiTestDB.conf.travisci ensembl-rest/t/MultiTestDB.conf
    - cp -f ensembl/travisci/MultiTestDB.conf.travisci.mysql  ensembl/modules/t/MultiTestDB.conf
    - export PERL5LIB=$PWD/bioperl-live
    - cpanm --quiet --installdeps --notest --cpanfile ensembl/cpanfile .
    - cpanm --quiet --installdeps --notest --cpanfile ensembl-rest/cpanfile .
    - cpanm --quiet --installdeps --notest .
    - cpanm --quiet --notest Devel::Cover::Report::Coveralls
    - mysql -u root -h localhost -e 'GRANT ALL PRIVILEGES ON *.* TO "travis"@"%"'

script: travis_wait 40 "./travisci/harness.sh"

jobs:
  include:
  - stage: trigger_dependent_builds
    script: "./travisci/trigger-dependent-build.sh"

# Get the matrix to only build coveralls support when on 5.10
matrix:
  exclude:
    - perl: "5.10"
      env: COVERALLS=true
    - perl: "5.14"
      env: COVERALLS=false
    - perl: "5.24"
      env: COVERALLS=true

