language: "perl"

perl:
  - "5.14"
  - "5.26"

env:
  matrix:
  - COVERALLS=true
  - COVERALLS=false
  global:
    secure: bGSZASCtRCcE2VZ3u4hdvjh6CDHe+Uo3MR7B4eobSFFhZVjIN3/DKaGrQYprEeSIB/vb75rveyTheO3qe3lHwq71e18cBk2ulQA6/L0eUJYsoR3u2y7d9whu8dS97IoLzize6hItxJFP8TmRaJBtWqOixyWHNW72X/fKF1a192E=

sudo: false

addons:
  apt:
    packages:
    - graphviz

services:
  - mysql

cache:
  directories:
    - $HOME/deps

before_install:
    - cpanm -nq local::lib
    - eval "$(perl -Mlocal::lib=${HOME}/deps)"
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-test.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-rest.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-variation.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-hive.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-analysis.git
    - ln -s . ensembl-compara
    - ln -s Blast.pm.example ensembl-analysis/modules/Bio/EnsEMBL/Analysis/Config/Blast.pm
    - ln -s Compara.pm.example ensembl-analysis/modules/Bio/EnsEMBL/Analysis/Config/Compara.pm
    - ln -s General.pm.example ensembl-analysis/modules/Bio/EnsEMBL/Analysis/Config/General.pm
    - git clone --branch v1.6.x --depth 1 https://github.com/bioperl/bioperl-live
    - git clone --branch release-1-6-9 --depth 1 https://github.com/bioperl/bioperl-run
    - sed -i '/Bio::DB::HTS/d' ensembl-rest/cpanfile


install:
    - cp -f travisci/MultiTestDB.conf.travisci  modules/t/MultiTestDB.conf
    - cp -f ensembl-rest/travisci/MultiTestDB.conf.travisci ensembl-rest/t/MultiTestDB.conf
    - cp -f ensembl/travisci/MultiTestDB.conf.travisci.mysql  ensembl/modules/t/MultiTestDB.conf
    - cpanm --quiet --installdeps --notest --cpanfile ensembl/cpanfile .
    - cpanm --quiet --installdeps --notest --cpanfile ensembl-rest/cpanfile .
    - cpanm --quiet --installdeps --notest --cpanfile ensembl-hive/cpanfile .
    - cpanm --quiet --installdeps --notest .
    - cpanm --quiet --notest Devel::Cover::Report::Coveralls

before_script:
    - mysql -u root -h localhost -e 'GRANT ALL PRIVILEGES ON *.* TO "travis"@"%"'

script: travis_wait 40 "./travisci/harness.sh"

jobs:
  include:
  - stage: trigger_dependent_builds
    script: "./travisci/trigger-dependent-build.sh"

# Get the matrix to only build coveralls support when on 5.26
matrix:
  exclude:
    - perl: "5.14"
      env: COVERALLS=true
    - perl: "5.26"
      env: COVERALLS=false

