#!/usr/bin/env nextflow

includeConfig "$ENSEMBL_ROOT_DIR/ensembl-compara/pipelines/lsf_rc_nextflow.config"
includeConfig "$ENSEMBL_ROOT_DIR/ensembl-compara/pipelines/lsf_params_nextflow.config"

params {
    dir = '/hps/nobackup/flicek/ensembl/compara/shared/reference_fasta_symlinks/'
    orthofinder_exe = '/hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/linuxbrew/bin/orthofinder'
    destination = '/hps/nobackup/flicek/ensembl/compara/cristig/reference_collections'
}
