[
  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "compara2",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "ensembl",
    '-dbname'   => "avilella_compara_homology_45",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },

  { TYPE => HIVE,
  },

  { TYPE => GENE_TREE,
    'cluster_params' => '{species_set=>[3,4,5,13,16,18,22,25,26,27,29,31,32,33,34,35,36,37,38,39,40,42,43,44,45,46,47,48,49,50,51,52,53,54,55], brh=>1, all_best=>0, bsr_threshold=>0.33,max_gene_count=>750}',
    'breakcluster_params' => '{species_set=>[3,4,5,13,16,18,22,25,26,27,29,31,32,33,34,35,36,37,38,39,40,42,43,44,45,46,47,48,49,50,51,52,53,54,55], bsr_threshold_increase=>0.1,max_gene_count=>750}',
    'max_gene_count' => 750,
    'species_tree_file' => '/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_45/spec_tax.nh',
    'honeycomb_dir' => '/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_45/honeycomb'
  },

  { TYPE => dNdS,
    'codeml_parameters' => do('/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_45/codeml.ctl.hash'),
    'species_sets' => '[[3,22,25,31,32,33,34,35,38,39,45,47,48,49,50,51,52,53,55],[26,4,13,37,36],[18,27],[29,5,40]]',
    'method_link_type' => 'ENSEMBL_ORTHOLOGUES'
  },

  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "compara2",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "ensembl",
    '-dbname'   => "avilella_compara_homology_45",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },

  { TYPE => 'BLASTP_TEMPLATE',
    '-program'         => 'wublastp',
    '-program_version' => '1',
    '-program_file'    => 'wublastp',
    '-parameters'      => "{options=>'-filter none -span1 -postsw -V=20 -B=20 -sort_by_highscore -warnings -cpus 1'}",
    '-module'          => 'Bio::EnsEMBL::Compara::RunnableDB::BlastComparaPep',
    '-module_version'  => undef,
    '-gff_source'      => undef,
    '-gff_feature'     => undef,
    'fasta_dir'        => "/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_45/blastDB",
  },

   { TYPE => UNIPROT,
     'srs'    => 'SWISSPROT',
   },
   { TYPE => UNIPROT,
     'srs'    => 'SPTREMBL',
   },

  { TYPE => SPECIES,
    'species'        => 'Homo sapiens',
    'genome_db_id'   => 22,
    'taxon_id'       => 9606,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "homo_sapiens_core_45_36g",
  },
  { TYPE => SPECIES,
    'species'        => 'Pan troglodytes',
    'genome_db_id'   => 38,
    'taxon_id'       => 9598,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "pan_troglodytes_core_45_21d",
  },
  { TYPE => SPECIES,
    'species'        => 'Macaca mulatta', 
    'genome_db_id'   => 31,
    'taxon_id'       => 9544,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "macaca_mulatta_core_45_10e",
  },
  { TYPE => SPECIES,
    'species'        => 'Mus musculus',
    'genome_db_id'   => 25,
    'taxon_id'       => 10090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "mus_musculus_core_45_36f",
  },
  { TYPE => SPECIES,
    'species'        => 'Rattus norvegicus',
    'genome_db_id'   => 3,
    'taxon_id'       => 10116,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "rattus_norvegicus_core_45_34o",
  },
  { TYPE => SPECIES,
    'species'        => 'Cavia porcellus',
    'genome_db_id'   => 50,
    'taxon_id'       => 10141,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "cavia_porcellus_core_45_1a",
  },
  { TYPE => SPECIES,
    'species'        => 'Oryctolagus cuniculus',
    'genome_db_id'   => 34,
    'taxon_id'       => 9986,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "oryctolagus_cuniculus_core_45_1c",
  },
  { TYPE => SPECIES,
    'species'        => 'Bos taurus',
    'genome_db_id'   => 45,
    'taxon_id'       => 9913,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "bos_taurus_core_45_3b",
  },
  { TYPE => SPECIES,
    'species'          => 'Canis familiaris',
    'genome_db_id'     => 39,
    'taxon_id'       => 9615,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "canis_familiaris_core_45_2c",
  },
  { TYPE => SPECIES,
    'species'          => 'Felis catus',
    'genome_db_id'     => 47,
    'taxon_id'       => 9685,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "felis_catus_core_45_1a",
  },
  { TYPE => SPECIES,
    'species'        => 'Tupaia belangeri',
    'genome_db_id'   => 48,
    'taxon_id'       => 37347,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "tupaia_belangeri_core_45_1a",
  },
  { TYPE => SPECIES,
    'species'        => 'Erinaceus europaeus',
    'genome_db_id'   => 49,
    'taxon_id'       => 9365,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "erinaceus_europaeus_core_45_1a",
  },
  { TYPE => SPECIES,
    'species'        => 'Dasypus novemcinctus',
    'genome_db_id'   => 35,
    'taxon_id'       => 9361,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "dasypus_novemcinctus_core_45_1c",
  },
  { TYPE => SPECIES,
    'species'        => 'Loxodonta africana',
    'genome_db_id'   => 32,
    'taxon_id'       => 9785,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "loxodonta_africana_core_45_1b",
  },
  { TYPE => SPECIES,
    'species'        => 'Echinops telfairi',
    'genome_db_id'   => 33,
    'taxon_id'       => 9371,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "echinops_telfairi_core_45_1c",
  },
  { TYPE => SPECIES,
    'species'        => 'Monodelphis domestica',
    'genome_db_id'   => 46,
    'taxon_id'       => 13616,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "monodelphis_domestica_core_45_5a",
  },
  { TYPE => SPECIES,
    'species'          => 'Ornithorhynchus anatinus',
    'genome_db_id'     => 43,
    'taxon_id'       => 9258,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "ornithorhynchus_anatinus_core_45_1b",
  },
  { TYPE => SPECIES,
    'species'          => 'Gallus gallus',
    'genome_db_id'     => 42,
    'taxon_id'       => 9031,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "gallus_gallus_core_45_2c",
  },
  { TYPE => SPECIES,
    'species'        => 'Xenopus tropicalis',
    'genome_db_id'   => 16,
    'taxon_id'       => 8364,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "xenopus_tropicalis_core_45_41f",
  },
  { TYPE => SPECIES,
    'species'        => 'Danio rerio',
    'genome_db_id'   => 26,
    'taxon_id'       => 7955,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "danio_rerio_core_45_6f",
  },
  { TYPE => SPECIES,
    'species'        => 'Takifugu rubripes',
    'genome_db_id'   => 4,
    'taxon_id'       => 31033,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "takifugu_rubripes_core_45_4f",
  },
  { TYPE => SPECIES,
    'species'        => 'Tetraodon nigroviridis',
    'genome_db_id'   => 13,
    'taxon_id'       => 99883,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "tetraodon_nigroviridis_core_45_1i",
  },
  { TYPE => SPECIES,
    'species'        => 'Oryzias latipes',
    'genome_db_id'   => 37,
    'taxon_id'       => 8090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "oryzias_latipes_core_45_1b",
  },
  { TYPE => SPECIES,
    'species'        => 'Gasterosteus aculeatus',
    'genome_db_id'   => 36,
    'taxon_id'       => 69293,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "gasterosteus_aculeatus_core_45_1c",
  },
  { TYPE => SPECIES,
    'species'        => 'Ciona intestinalis',
    'genome_db_id'   => 18,
    'taxon_id'       => 7719,
    'phylum'         => 'Urochordata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "ciona_intestinalis_core_45_2f",
  },
  { TYPE => SPECIES,
    'species'        => 'Ciona savignyi',
    'genome_db_id'   => 27,
    'taxon_id'       => 51511,
    'phylum'         => 'Urochordata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "ciona_savignyi_core_45_2d",
  },
  { TYPE => SPECIES,
    'species'        => 'Anopheles gambiae',
    'genome_db_id'   => 5,
    'taxon_id'       => 7165,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "anopheles_gambiae_core_45_3h",
  },
  { TYPE => SPECIES,
    'species'        => 'Aedes aegypti',
    'genome_db_id'   => 29,
    'taxon_id'       => 7159,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "aedes_aegypti_core_45_1a",
  },
  { TYPE => SPECIES,
    'species'        => 'Drosophila melanogaster',
    'genome_db_id'   => 40,
    'taxon_id'       => 7227,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "drosophila_melanogaster_core_45_43b",
  },
  { TYPE => SPECIES,
    'species'        => 'Caenorhabditis elegans',
    'genome_db_id'   => 54,
    'taxon_id'       => 6239,
    'phylum'         => 'Nematoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "caenorhabditis_elegans_core_45_170b",
  },
  { TYPE => SPECIES,
    'species'        => 'Saccharomyces cerevisiae',
    'genome_db_id'   => 44,
    'taxon_id'       => 4932,
    'phylum'         => 'Ascomycota',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "saccharomyces_cerevisiae_core_45_1g",
  },
  { TYPE => SPECIES,
    'species'        => 'Myotis lucifugus',
    'genome_db_id'   => 53,
    'taxon_id'       => 59463,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "myotis_lucifugus_core_45_1a",
  },
  { TYPE => SPECIES,
    'species'        => 'Otolemur garnettii',
    'genome_db_id'   => 51,
    'taxon_id'       => 30611,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "otolemur_garnettii_core_45_1",
  },
  { TYPE => SPECIES,
    'species'        => 'Spermophilus tridecemlineatus',
    'genome_db_id'   => 52,
    'taxon_id'       => 43179,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "spermophilus_tridecemlineatus_core_45_1a",
  },
  { TYPE => SPECIES,
    'species'        => 'Sorex araneus',
    'genome_db_id'   => 55,
    'taxon_id'       => 42254,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "sorex_araneus_core_45_1",
  },

  { TYPE => END }
]

