[
  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "ia64e",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "ensembl",
    '-dbname'   => "jessica_compara_blastz_HsMm_27i",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },
  { TYPE => HIVE,
    'hive_output_dir'      => "/ecs4/work2/ensembl/jessica/data/hive_output/jessica_compara_blastz_HsMm_27i",
  },

  { TYPE => SPECIES,
    'abrev'          => 'Hs34e',
    'genome_db_id'   => 1,
    'taxon_id'       => 9606,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ia64e",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "jessica_homo_sapiens_core_27_35a",
  },

  { TYPE => SPECIES,
    'abrev'          => 'Mm32b',
    'genome_db_id'   => 2,
    'taxon_id'       => 10090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ia64e",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "jessica_mus_musculus_core_27_33c",
  },


  { TYPE => DNA_COLLECTION,
    'collection_name'       => 'mouse chr11 141F582B-75E8-11D9-8407-000D93B97580',
    'genome_db_id'          => 2,
    'genome_name_assembly'  => 'Mus musculus:NCBIM33',
    'region'                => 'chromosome:11',
    'chunk_size'            => 1100000,
    'overlap'               =>  100000,
    'group_set_size'        => 4000000,
    'masking_options'       => do('./masking_mouse33.spec'),
  },

  { TYPE => DNA_COLLECTION,
    'collection_name'       => 'human chr17 E23BC007-75E7-11D9-8334-000D93B97580',
    'genome_db_id'          => 1,
    'genome_name_assembly'  => 'Homo sapiens:NCBI35',
    'region'                => 'chromosome:17',
    'chunk_size'            => 30000000,
    'overlap'               => 0,
    'masking_options'       => do('./masking_human35.spec'),
  },


  { TYPE => PAIR_ALIGNER,
    'subtype' => 'blastz',
    'method_link' => [1001, 'BLASTZ_RAW'],
    'analysis_template' => {
        '-program'       => 'blastz',
        '-parameters'    => "{method_link=>'BLASTZ_RAW',options=>'T=1 T=1 L=3000 H=2200 M=40000000 O=400 E=30'}",
        '-module'        => 'Bio::EnsEMBL::Compara::Production::GenomicAlignBlock::BlastZ',
    },
    'max_parallel_workers'    => 300, #depending on the speed of the 'core' and 'compara' databases used
    'query_collection_name'   => 'mouse chr11 141F582B-75E8-11D9-8407-000D93B97580',
    'target_collection_name'  => 'human chr17 E23BC007-75E7-11D9-8334-000D93B97580',
  },

  { TYPE => END }
]
