[
  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "ia64e",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "ensembl",
    '-dbname'   => "jessica_compara_blastz_HsMm_27i",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },
  { TYPE => HIVE,
    'hive_output_dir'      => "/ecs4/work2/ensembl/jessica/data/hive_output/jessica_compara_blastz_HsMm_27i/workers",
# IMPORTANT: The hive system can generate an awful lot of log outputs that are dumped in
# the hive_output_dir. When a pipeline runs fine, these are not needed and can take a lot of
# disk space as well as generate a large number of files. If you don't want log outputs (recommended),
# then just don't specify any hive_output_dir (delete or comment the line or set to "" if you don't want
# any STDOUT/STDERR files
  },

  { TYPE => SPECIES,
    'species'        => 'Homo sapiens',
    'abrev'          => 'Hs35b',
    'genome_db_id'   => 1,
    'taxon_id'       => 9606,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3365,
    'user'           => "ensro",
    'dbname'         => "homo_sapiens_core_29_35b",
  },

  { TYPE => SPECIES,
    'species'        => 'Mus musculus',
    'abrev'          => 'Mm33e',
    'genome_db_id'   => 2,
    'taxon_id'       => 10090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3365,
    'user'           => "ensro",
    'dbname'         => "jessica_mus_musculus_core_29_33e",
  },


  { TYPE => DNA_COLLECTION,
    'collection_name'       => 'mouse chr11',
    'genome_db_id'          => 2,
    'genome_name_assembly'  => 'Mus musculus:NCBIM33',
    'region'                => 'chromosome:11', # optional, default: undef i.e. all toplevel seq_regions
    'chunk_size'            => 1100000, #optional, default: 1000000
    'overlap'               =>  100000, #optional, default: 0
    'group_set_size'        => 4000000, #optional, default: undef i.e. not sequence grouping
    'include_non_reference' => 0, #optional, default: 0 do not include non-reference regions eg haplotypes
    'include_duplicates'    => 0, #optional, default: 0 do not include duplicated regions eg PAR region
    'masking_options'       => "{default_soft_masking => 1}", # 0 for hard masking, comment the line for no masking
# or  'masking_options'       => "{default_soft_masking => 1, logic_names => ["RepeatMask", "Dust", "TRF"]}",
# if you want to mask only certain type of repeat logic_name analysis.
#
#    'masking_options_file'       => '/path/to/masking/options/file/for/mouse',
# if both masking_options_file and masking_options are specific masking_options_file has priority over masking_options
# masking_options_file contains a perl hash reference of the following format
#
# {
# "repeat_name_L1P" => 0,
# "repeat_class_SINE/Alu" => 0,
# "repeat_name_L1PA7" => 0,
# "repeat_name_L1PA3" => 0,
# "repeat_name_PRIMA4-int" => 0
# }
#
# that defined the masking 0:hard or 1:soft for particular repeat_name or repeat_class as defined in the repeat_consensus
# table in the core database.

  },

  { TYPE => DNA_COLLECTION,
    'collection_name'       => 'human chr17',
    'genome_db_id'          => 1,
    'genome_name_assembly'  => 'Homo sapiens:NCBI35',
    'region'                => 'chromosome:17',# can also be a restricted region e.g. chromosome:17:100000:500000
    'chunk_size'            => 30000000,
    'include_non_reference' => 1, #optional, default: 0. In this case include non-reference regions eg haplotypes
    'include_duplicates'    => 0, #optional, default: 0 do not include duplicated regions eg PAR region
    'masking_options'       => "{default_soft_masking => 1, assembly_exception_type_PAR => 0}",
#    'masking_options_file'       => '/path/to/masking/options/file/for/human',
  },


  { TYPE => PAIR_ALIGNER,
    'logic_name_prefix' => 'BlastZ', # optional default: PairAligner
    'method_link' => [1001, 'BLASTZ_RAW'],
    'analysis_template' => {
        '-program'       => 'blastz',
        '-program_file'       => 'blastz',
        '-parameters'    => "{method_link=>'BLASTZ_RAW',options=>'T=1 T=1 L=3000 H=2200 M=40000000 O=400 E=30'}",
        '-module'        => 'Bio::EnsEMBL::Compara::Production::GenomicAlignBlock::BlastZ',
    },
    'max_parallel_workers'    => 200, #depending on the speed of the 'core' and 'compara' databases used, default is 200
    'batch_size'              => 3, #optional, default: 1. 3 is optimal for blastz
    'non_reference_collection_name'   => 'mouse chr11',
    'reference_collection_name'  => 'human chr17',
  },

  { TYPE => END }
]
