[
  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "compara1",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "xxxxxx",
    '-dbname'   => "kb3_compara_zebrafish_xenopus_tblat_50",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },
  { TYPE => HIVE,
    'hive_output_dir'      => "/lustre/scratch1/ensembl/kb3/hive/kb3_compara_zebrafish_xenopus_tblat_50/workers",
# IMPORTANT: The hive system can generate an awful lot of log outputs that are dumped in
# the hive_output_dir. When a pipeline runs fine, these are not needed and can take a lot of
# disk space as well as generate a large number of files. If you don't want log outputs (recommended),
# then just don't specify any hive_output_dir (delete or comment the line or set to "" if you don't want
# any STDOUT/STDERR files)
  },
 { TYPE => SPECIES,
    'abrev'          => 'Dr',
    'genome_db_id'   => 56,
    'taxon_id'       => 7955,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-livemirror",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "danio_rerio_core_48_7b",
    'species'        => "Danio rerio"
  },

  { TYPE => SPECIES,
    'abrev'          => 'Xt',
    'genome_db_id'   => 16,
    'taxon_id'       => 8364,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-livemirror",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "xenopus_tropicalis_core_48_41h",
    'species'        => "Xenopus tropicalis"
  },

  { TYPE => DNA_COLLECTION,
    'collection_name'       => 'xenopus for chain', # Don't forget that you have probably run a blastz
                                                # pipeline with a collection_name 'rat'. 
                                                # The collection_name needs to be unique to avoid confusion
    'genome_db_id'          => 16,
    'genome_name_assembly'  => 'Xenopus tropicalis:JGI4.1',
#    'chunk_size'            => 270000000,# set it to be over the longest toplevel seq_region you expect for this species. If it is not defined, then the longest toplevel seg_region is automatically used. 
    'dump_loc'              => '/lustre/scratch1/ensembl/kb3/hive/kb3_compara_zebrafish_xenopus_tblat_50/xenopus_nib_for_chain'
  },

  { TYPE => DNA_COLLECTION,
    'collection_name'       => 'zebrafish for chain',# Don't forget that you have probably run a blastz
                                                 # pipeline with a collection_name 'human'.
                                                 # The collection_name needs to be unique to avoid confusion
    'genome_db_id'          => 56,
    'genome_name_assembly'  => 'Danio rerio:ZFISH7',
#    'chunk_size'            => 80000000,# set it to be over the longest toplevel seq_region you expect for this species. If it is not defined, then the longest toplevel seg_region is automatically used.
    'dump_loc'              => '/lustre/scratch1/ensembl/kb3/hive/kb3_compara_zebrafish_xenopus_tblat_50/zebrafish_nib_for_chain',
  },


  { TYPE => CHAIN_CONFIG,
    'input_method_link' => [6, 'TRANSLATED_BLAT'],
    'output_method_link' => [1002, 'TRANSLATED_BLAT_CHAIN'],

    'reference_collection_name' => 'zebrafish for chain',
    'non_reference_collection_name' => 'xenopus for chain',
              
    'max_gap' => 50,
    'output_group_type' => 'chain',
    'linear_gap' => 'loose' #can be medium, loose or filename. loose is chicken/human linear gap costs. medium is mouse/human linear gap costs. See axtChain for details
  },

  { TYPE => NET_CONFIG,
    'input_method_link' => [1002, 'TRANSLATED_BLAT_CHAIN'],
    'output_method_link' => [1, 'TRANSLATED_BLAT_NET'],

    'reference_collection_name' => 'zebrafish for chain',
    'non_reference_collection_name' => 'xenopus for chain',
              
    'max_gap' => 50,
    'input_group_type' => 'chain',
    'output_group_type' => 'default'
  },

##If this is defined, the pipeline will set the BLASTZ_NET genomic_align_block_id
##and genomic_align_ids to be unique across a release by adding $mlss_id*10**10
#  { TYPE => SET_INTERNAL_IDS,
#  },

## HEALTHCHECKS are run at the end of the pipeline.
## If not defined, the healthcheck params are automatically created.
# { TYPE => HEALTHCHECKS,
#    'previous_db_url' => 'mysql://anonymous@ensembldb.ensembl.org', #default mysql://ensro@ens-livemirror
#    'hc_output_dir' => '/location/of/directory/to/output/results/',
#  },            

  { TYPE => END }
]
