[
 { # information to connect to compara/hive database
  TYPE => COMPARA,
  '-host'     => "compara1",
  '-port'     => "3306",
  '-user'     => "xxxxx",
  '-pass'     => "xxxxx",
  '-dbname'   => "jh7_pecan_42",
  '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
 },

 { TYPE => HIVE,
   'hive_output_dir' => "/lustre/scratch1/ensembl/jh7/release47/pecan/workers",
   'name'            => "pecan",
   # name is used to make this pipeline independent from other ones
 },

 { TYPE => MEMBER_LOADING,
   'exon_min_length' => 20
 },

 { TYPE => 'BLASTP_TEMPLATE',
   '-program'         => 'wublastp',
   '-program_version' => '1',
   '-program_file'    => 'wublastp',
   ## You can change the filter option to be the built-in xnu or seg if you don't have the cast program:
   '-parameters'      => "{options=>'-filter \"cast -\" -span1 -postsw -V=20 -B=20 -sort_by_highscore -warnings -cpus 1'}",
   '-module'          => 'Bio::EnsEMBL::Compara::RunnableDB::BlastComparaPep',
   '-module_version'  => undef,
   '-gff_source'      => undef,
   '-gff_feature'     => undef,
   'fasta_dir'        => "/lustre/scratch1/ensembl/jh7/release47/pecan/blastDB",
 },

 { TYPE => SYNTENY_MAP_BUILDER,
   'logic_name' => "Mercator",
   # 'module' => "My::Own::Module", # module: By default, the module will be
          # "Bio::EnsEMBL::Compara::Production::GenomicAlignBlock::$logic_name"
   'strict_map' => 1,
   # 'cutoff_score' => 100,
   # 'cutoff_evalue' => 1e-5,
 },

  ## NB: You can have several MULTIPLEALIGNER blocks. Each of them will result
  ## in a different set of multiple alignments
 { TYPE => MULTIPLE_ALIGNER,
   'logic_name' => "Pecan",
   # 'module' => "My::Own::Module", # module: By default, the module will be
          # "Bio::EnsEMBL::Compara::Production::GenomicAlignBlock::$logic_name"
   'species_set' => [1,2,3],
   'tree_file' => '/lustre/work1/ensembl/jh7/release47/pecan/hmr.tree',
   'method_link' => [10, 'PECAN'],
 },

##If this is defined, the pipeline will set the genomic_align_block_id
##and genomic_align_ids to be unique across a release by adding $mlss_id*10**10
#  { TYPE => SET_INTERNAL_IDS,
#  },

  ## CONSERVATION_SCORE is run after the MULTIPLE_ALIGNER, one job per alignment.
  ## You can skip this if you do not want conservation scores.
 { TYPE => CONSERVATION_SCORE,
   'logic_name' => 'Gerp',
   # 'module' => "My::Own::Module", # module: By default, the module will be
          # "Bio::EnsEMBL::Compara::Production::GenomicAlignBlock::$logic_name"

   'tree_file' => '/lustre/work1/ensembl/jh7/release47/pecan/hmr.tree',
   'method_links' => [[11, 'GERP_CONSTRAINED_ELEMENT'],
                      [501, 'GERP_CONSERVATION_SCORE']],
   'window_sizes' => '[1,10,100,500]',

   #set version of gerp to run
   'program_version' => '2.1',

   #set path to the Gerp binaries gerpcol and gerpelem.
   'program_file' => '/software/ensembl/compara/gerp/GERPv2.1'

   #param_file is only necessary when using Gerp version 1
   #'param_file' => '/ecs2/work3/abel/hive/abel_mlagan_final/gerp_param_file.txt',
   #location of GERP.pl for running Gerp version 1
   #'program_file' => '/software/ensembl/compara/gerp/GERP_03292006/GERP.pl',
 },

## HEALTHCHECKS are run at the end of the pipeline.
## If not defined, the healthcheck params are automatically created.
# { TYPE => HEALTHCHECKS,
#   'conservation_jobs' => "params=>{logic_name=>'Gerp',method_link_type=>'PECAN',}",
#   'conservation_scores' => "params=>{method_link_species_set_id=>50001}",
# },

 { TYPE => SPECIES,
   'abrev'          => 'Hs35i',
   'genome_db_id'   => 1,
   'taxon_id'       => 9606,
   'phylum'         => 'Vertebrata',
   'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
   'host'           => "ecs2",
   'port'           => 3364,
   'user'           => "ensro",
   'dbname'         => "homo_sapiens_core_36_35i",
   'species'        => "Homo sapiens"
 },

 { TYPE => SPECIES,
   'abrev'          => 'Mm34d',
   'genome_db_id'   => 2,
   'taxon_id'       => 10090,
   'phylum'         => 'Vertebrata',
   'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
   'host'           => "ecs2",
   'port'           => 3364,
   'user'           => "ensro",
   'dbname'         => "mus_musculus_core_36_34d",
   'species'        => "Mus musculus"
 },

 { TYPE => SPECIES,
   'abrev'          => 'Rn34f',
   'genome_db_id'   => 3,
   'phylum'         => 'Vertebrata',
   'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
   'host'           => "ecs2",
   'port'           => 3364,
   'user'           => "ensro",
   'dbname'         => "rattus_norvegicus_core_36_34f",
   'species'        => "Rattus norvegicus"
 },
 { TYPE => END }
]
