comparaLoadOrtheus.pl --reg-conf <ensembl_registry_file> --master <compara_master> \
  --to_db <to_db> --mlss_id <mlss_id> --species_tree <species_tree> --addMT 1 -i enredo.out

mlss_id : is the method_link_species_set_id for ortheus
to_db : databases to populate with usind the data in the enredo.out file
addMT : this will add values for MT chromosomes found in the dnafrag table 
        to the dnafrag_region table and add a new row to the analysis_job table


>cat ensembl_registry_file 
#############################################
use strict;
use Bio::EnsEMBL::Utils::ConfigRegistry;
use Bio::EnsEMBL::DBSQL::DBAdaptor;
use Bio::EnsEMBL::Compara::DBSQL::DBAdaptor;
use Bio::EnsEMBL::Registry;

my @aliases;

new Bio::EnsEMBL::Compara::DBSQL::DBAdaptor(
    -species => "ortheus",
    -host     => "compara1",
    -port     => "3306",
    -user     => "xxxxx",
    -pass     => "xxxxx",
    -dbname   => "sf5_test_LoadOrtheus",
  );
new Bio::EnsEMBL::DBSQL::DBAdaptor(
    -species => "ancestral_sequences",
    -host     => "compara1",
    -port     => "3306",
    -user     => "xxxxx",
    -pass     => "xxxxx",
    -dbname   => "sf5_test_LoadOrtheus_ancestral_seqs",
  );
  new Bio::EnsEMBL::Compara::DBSQL::DBAdaptor(
    -host           => "compara1",
    -port           => "3306",
    -user           => "xxxxx",
    -dbname         => "sf5_ensembl_compara_master",
    -species        => "compara_master"
  );
  new Bio::EnsEMBL::DBSQL::DBAdaptor( 
    -host           => "ens-staging1",
    -port           => 3306,
    -user           => "xxxxx",
    -dbname         => "loxodonta_africana_core_57_3",
    -species        => "Loxodonta africana"
  );

1;
