[
  { # information to connect to compara/pipeline database
    TYPE => COMPARA,
    '-host'     => "ecs2",
    '-port'     => "3361",
    '-user'     => "ensadmin",
    '-pass'     => "xxxxxxx",
    '-dbname'   => "compara_hive_jess_23",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },
  { TYPE => HIVE,
    'hive_output_dir'      => "/ecs4/work2/ensembl/jessica/data/hive_output/compara_hive_jess_23c",
  },
  { TYPE => 'BLAST_TEMPLATE',
    '-program'         => 'wublastp',
    '-program_version' => '1',
    '-program_file'    => 'wublastp',
    '-parameters'      => "{options=>'-filter none -span1 -postsw -V=20 -B=20 -sort_by_highscore -warnings -cpus 1'}",
    '-module'          => 'Bio::EnsEMBL::Compara::RunnableDB::BlastComparaPep',
    '-module_version'  => undef,
    '-gff_source'      => undef,
    '-gff_feature'     => undef,
    'fasta_dir'        => "/ecs4/work2/ensembl/jessica/data/blastDB/compara_hive_jess_23b/",
  },


  { TYPE => SPECIES,
    'abrev'          => 'Mm32b',
    'genome_db_id'   => 2,
    'taxon_id'       => 10090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'pass'           => undef,
    'dbname'         => "mus_musculus_core_22_32b",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Rn3.1',
    'genome_db_id'   => 3,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'pass'           => undef,
    'dbname'         => "rattus_norvegicus_core_22_3b",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Hs34b',
    'genome_db_id'   => 1,
    'taxon_id'       => 9606,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "homo_sapiens_core_22_34d",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Fr2b',
    'genome_db_id'   => 4,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "fugu_rubripes_core_22_2c",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Dr3b',
    'genome_db_id'   => 9,    
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "danio_rerio_core_22_3b",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Pt1',
    'genome_db_id'   => 10,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "pan_troglodytes_core_22_1",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Gg1',
    'genome_db_id'   => 11,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "gallus_gallus_core_22_1",
  },


  { TYPE => SPECIES,
    'abrev'          => 'Ag2b',
    'genome_db_id'   => 5,
    'taxon_id'       => 7165,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "anopheles_gambiae_core_22_2b",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Dm3a',
    'genome_db_id'   => 6,
    'taxon_id'       => 7227,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "drosophila_melanogaster_core_22_3a",
  },


  { TYPE => SPECIES,
    'abrev'          => 'Ce116a',
    'genome_db_id'   => 7,
    'taxon_id'       => 6239,
    'phylum'         => 'Nematoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "caenorhabditis_elegans_core_22_116a",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Cb25',
    'genome_db_id'   => 8,
    'taxon_id'       => 6238,
    'phylum'         => 'Nematoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "caenorhabditis_briggsae_core_22_25",
  },

  { TYPE => END }
]
