[
  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "compara2",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "ensembl",
    '-dbname'   => "avilella_compara_homology_small_45",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },

  #The pipeline can optionally throttle analysis workers without the need
  #to issue separate update commands to the hive database & re-sync the 
  #beekeeper. Currently supported analyses are
  #
  # * blast_hive_capacity - Workers per created blast analysis
  # * ortho_tree_hive_capacity 
  # * njtree_hive_capacity
  # * homology_dnds_hive_capacity

  { TYPE => HIVE,
  	# 'njtree_hive_capacity' => 100,
  },

  { TYPE => 'BLASTP_TEMPLATE',
    '-program'         => 'wublastp',
    '-program_version' => '1',
    '-program_file'    => 'wublastp',
    '-parameters'      => "{options=>'-filter none -span1 -postsw -V=20 -B=20 -sort_by_highscore -warnings -cpus 1'}",
    '-module'          => 'Bio::EnsEMBL::Compara::RunnableDB::BlastComparaPep',
    '-module_version'  => undef,
    '-gff_source'      => undef,
    '-gff_feature'     => undef,
    'fasta_dir'        => "/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_small_45/blastDB",
  },

## This is needed for the old homology pipeline, but leave it commented out for the genetree pipeline
#  { TYPE => HOMOLOGY,
#    'species_sets' => '[[22,38,31,25,3,40,54,44]]'
#  },

# You can specify multiple custom binary locations when you are running the
# pipeline on a non-sanger farm machine. The currently available options are:
#   * treebest
#   * muscle
# 
# Set the value of the keys to the binary location required

# If you specify use_genomedb_id & set the flag to true then this means 
# the given tree file's node names are infact GenomeDB IDs. For treebest to
# work all internal nodes must be uniquely named. This method is only 
# recommended when the taxonomy becomes unsuitable for your data set.

  { TYPE => GENE_TREE,
    'cluster_params' => '{species_set=>[22,38,31,25,3,40,54,44],brh=>1,all_best=>0,bsr_threshold=>0.33,max_gene_count=>750}',
    'breakcluster_params' => '{species_set=>[22,38,31,25,3,40,54,44],bsr_threshold_increase=>0.1,max_gene_count=>750}',
    'max_gene_count' => 750,
    'species_tree_file' => '/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_45/spec_tax.nh',
    'honeycomb_dir' => '/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_45/honeycomb'
  },

  { TYPE => dNdS,
    'codeml_parameters' => do('/lustre/work1/ensembl/avilella/hive/avilella_compara_homology_small_45/codeml.ctl.hash'),
    'species_sets' => '[[22,38,31,25,3]]',
    'method_link_types' => "['ENSEMBL_ORTHOLOGUES']"
  },
  
# You can specify multiple custom binary locations when you are running the
# pipeline as with GENE_TREE. Available options are:
#   * program_file (Slr binary location)
#   * gblocks_exe

	{ TYPE => sitewise_dNdS,
		#saturation => 1.8
	},


# This is used for the family MCL-clustering part -- comment out if not needed
   { TYPE => UNIPROT,
     'srs'    => 'SWISSPROT',
   },
   { TYPE => UNIPROT,
     'srs'    => 'SPTREMBL',
   },

  { TYPE => SPECIES,
    'species'        => 'Homo sapiens',
    'genome_db_id'   => 22,
    'taxon_id'       => 9606,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "homo_sapiens_core_45_36g",
  },
  { TYPE => SPECIES,
    'species'        => 'Pan troglodytes',
    'genome_db_id'   => 38,
    'taxon_id'       => 9598,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "pan_troglodytes_core_45_21d",
  },
  { TYPE => SPECIES,
    'species'        => 'Macaca mulatta', 
    'genome_db_id'   => 31,
    'taxon_id'       => 9544,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "macaca_mulatta_core_45_10e",
  },
  { TYPE => SPECIES,
    'species'        => 'Mus musculus',
    'genome_db_id'   => 25,
    'taxon_id'       => 10090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "mus_musculus_core_45_36f",
  },
  { TYPE => SPECIES,
    'species'        => 'Rattus norvegicus',
    'genome_db_id'   => 3,
    'taxon_id'       => 10116,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "rattus_norvegicus_core_45_34o",
  },
  { TYPE => SPECIES,
    'species'        => 'Drosophila melanogaster',
    'genome_db_id'   => 40,
    'taxon_id'       => 7227,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "drosophila_melanogaster_core_45_43b",
  },
  { TYPE => SPECIES,
    'species'        => 'Caenorhabditis elegans',
    'genome_db_id'   => 54,
    'taxon_id'       => 6239,
    'phylum'         => 'Nematoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "caenorhabditis_elegans_core_45_170b",
  },
  { TYPE => SPECIES,
    'species'        => 'Saccharomyces cerevisiae',
    'genome_db_id'   => 44,
    'taxon_id'       => 4932,
    'phylum'         => 'Ascomycota',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ens-staging",
    'port'           => 3306,
    'user'           => "ensro",
    'dbname'         => "saccharomyces_cerevisiae_core_45_1g",
  },
]
