[
  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "ia64e",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "ensembl",
    '-dbname'   => "jessica_ensembl_compara_27_1",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },
  { TYPE => HIVE,
    'hive_output_dir'      => "/ecs4/work2/ensembl/jessica/data/hive_output/jessica_ensembl_compara_27_1",
# IMPORTANT: The hive system can generate an awful lot of log outputs that are dumped in
# the hive_output_dir. When a pipeline runs fine, these are not needed and can take a lot of
# disk space as well as generate a large number of files. If you don't want log outputs (recommended),
# then just don't specify any hive_output_dir (delete or comment the line or set to "" if you don't want
# any STDOUT/STDERR files)
  },
  { TYPE => 'BLASTP_TEMPLATE',
    '-program'         => 'wublastp',
    '-program_version' => '1',
    '-program_file'    => 'wublastp',
    '-parameters'      => "{options=>'-filter none -span1 -postsw -V=20 -B=20 -sort_by_highscore -warnings -cpus 1'}",
    '-module'          => 'Bio::EnsEMBL::Compara::RunnableDB::BlastComparaPep',
    '-module_version'  => undef,
    '-gff_source'      => undef,
    '-gff_feature'     => undef,
    'fasta_dir'        => "/ecs4/work2/ensembl/jessica/data/blastDB/jessica_ensembl_compara_27_1/",
  },

  { TYPE => UNIPROT,
    'srs'    => 'SWISSPROT',
    'accession_number' => 1
  },
  { TYPE => UNIPROT,
    'srs'    => 'SPTREMBL',
    'accession_number' => 1
  },

  { TYPE => dNdS,
    'codeml_parameters' => do('/nfs/acari/abel/src/ensembl_main/ensembl-compara/scripts/homology/codeml.ctl.hash'),
    # genome_db_id for which dNdS has to be calculated by pairs, the passed string MUST be less than 255 char to fit in the input_id field of the analysis_job table 
    'species_sets' => '[[1,2,3,14],[4,13],[11,16]]',
    'method_link_type' => 'ENSEMBL_ORTHOLOGUES'
  },

  { TYPE => HOMOLOGY,
    'species_sets' => '[[1,2,3,4,5,6,7,9,11,12,13,14,16,17]]'
  },

  { TYPE => SPECIES,
    'abrev'          => 'Hs34e',
    'genome_db_id'   => 1,
    'taxon_id'       => 9606,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "homo_sapiens_core_27_35a",
  },

  { TYPE => SPECIES,
    'abrev'          => 'Mm32b',
    'genome_db_id'   => 2,
    'taxon_id'       => 10090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "mus_musculus_core_27_33c",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Rn3.1',
    'genome_db_id'   => 3,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'pass'           => undef,
    'dbname'         => "rattus_norvegicus_core_27_3e",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Fr2b',
    'genome_db_id'   => 4,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "fugu_rubripes_core_27_2c",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Ag2b',
    'genome_db_id'   => 5,
    'taxon_id'       => 7165,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "anopheles_gambiae_core_27_2c",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Dm3a',
    'genome_db_id'   => 6,
    'taxon_id'       => 7227,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "drosophila_melanogaster_core_27_3c",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Ce116a',
    'genome_db_id'   => 7,
    'taxon_id'       => 6239,
    'phylum'         => 'Nematoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "caenorhabditis_elegans_core_27_130",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Dr4',
    'genome_db_id'   => 9,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "danio_rerio_core_27_4b",
  }, 
  { TYPE => SPECIES,
    'abrev'          => 'Pt1',
    'genome_db_id'   => 10,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "pan_troglodytes_core_27_1",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Gg1',
    'genome_db_id'   => 11,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "gallus_gallus_core_27_1d",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Am1',
    'genome_db_id'   => 12,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "apis_mellifera_core_27_1a",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Tn1',
    'genome_db_id'   => 13,    
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "tetraodon_nigroviridis_core_27_1b",
  },
  { TYPE => SPECIES,
    'abrev'          => 'Cf1',
    'genome_db_id'   => 14,    
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "canis_familiaris_core_27_1",
  },


  { TYPE => END }
]
