[
  { # information to connect to compara/hive database
    TYPE => COMPARA,
    '-host'     => "ia64e",
    '-port'     => "3306",
    '-user'     => "ensadmin",
    '-pass'     => "ensembl",
    '-dbname'   => "abel_compara_tree_37",
    '-adaptor'  => "Bio::EnsEMBL::Compara::DBSQL::DBAdaptor",
  },
  { TYPE => HIVE,
    'hive_output_dir'      => "",
  },
  { TYPE => 'BLASTP_TEMPLATE',
    '-program'         => 'wublastp',
    '-program_version' => '1',
    '-program_file'    => 'wublastp',
    '-parameters'      => "{options=>'-filter none -span1 -postsw -V=20 -B=20 -sort_by_highscore -warnings -cpus 1'}",
    '-module'          => 'Bio::EnsEMBL::Compara::RunnableDB::BlastComparaPep',
    '-module_version'  => undef,
    '-gff_source'      => undef,
    '-gff_feature'     => undef,
    'fasta_dir'        => "/acari/work7a/abel/hive/abel_compara_homology_37/blastDB",
  },

  { TYPE => dNdS,
    'codeml_parameters' => do('/acari/work7a/abel/hive/abel_compara_homology_37/codeml.ctl.hash'),
    'species_sets' => '[[1,2,3,10,14,15,21],[4,13]]',
    'method_link_type' => 'ENSEMBL_ORTHOLOGUES'
  },

  { TYPE => HOMOLOGY,
    'species_sets' => '[[1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19,21]]'
  },
  { TYPE => GENE_TREE,
    'cluster_params' => '{species_set=>[1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19,21], brh=>1, all_best=>0, bsr_threshold=>0.33,max_gene_count=>750}',
    'breakcluster_params' => "{species_set=>[1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19],bsr_threshold_increase=>0.1 ,max_gene_count=> 750}",
    'max_gene_count' => 750,
    'species_tree_file' => '{species_tree_file=>/acari/work7a/abel/hive/abel_compara_tree_37/encode_species_tree2.nh}',
    'rap_jar_file' => '/nfs/acari/abel/bin/rap.jar'
  },
  { TYPE => UNIPROT,
    'srs'    => 'SWISSPROT',
  },
  { TYPE => UNIPROT,
    'srs'    => 'SPTREMBL',
  },

  { TYPE => SPECIES,
    'species'        => 'Homo sapiens',
    'genome_db_id'   => 1,
    'taxon_id'       => 9606,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "homo_sapiens_core_37_35j",
  },
  { TYPE => SPECIES,
    'species'        => 'Mus musculus',
    'genome_db_id'   => 2,
    'taxon_id'       => 10090,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "mus_musculus_core_37_34e",
  },
  { TYPE => SPECIES,
    'species'        => 'Rattus norvegicus',
    'genome_db_id'   => 3,
    'taxon_id'       => 10116,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'pass'           => undef,
    'dbname'         => "rattus_norvegicus_core_37_34g",
  },
  { TYPE => SPECIES,
    'species'        => 'Fugu rubripes',
    'genome_db_id'   => 4,
    'taxon_id'       => 31033,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "fugu_rubripes_core_37_4a",
  },
  { TYPE => SPECIES,
    'species'        => 'Anopheles gambiae',
    'genome_db_id'   => 5,
    'taxon_id'       => 7165,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "anopheles_gambiae_core_37_3",
  },
  { TYPE => SPECIES,
    'species'        => 'Drosophila melanogaster',
    'genome_db_id'   => 6,
    'taxon_id'       => 7227,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "drosophila_melanogaster_core_37_4e",
  },
  { TYPE => SPECIES,
    'species'        => 'Caenorhabditis elegans',
    'genome_db_id'   => 7,
    'taxon_id'       => 6239,
    'phylum'         => 'Nematoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "caenorhabditis_elegans_core_37_150",
  },
  { TYPE => SPECIES,
    'species'        => 'Danio rerio',
    'genome_db_id'   => 9,
    'taxon_id'       => 7955,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "danio_rerio_core_37_5d",
  }, 
  { TYPE => SPECIES,
    'species'        => 'Pan troglodytes',
    'genome_db_id'   => 10,
    'taxon_id'       => 9598,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "pan_troglodytes_core_37_3a",
  },
  { TYPE => SPECIES,
    'species'          => 'Gallus gallus',
    'genome_db_id'   => 11,
    'taxon_id'       => 9031,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "gallus_gallus_core_37_1m",
  },
  { TYPE => SPECIES,
    'species'        => 'Apis mellifera',
    'genome_db_id'   => 12,
    'taxon_id'       => 7460,
    'phylum'         => 'Arthropoda',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "apis_mellifera_core_37_2d",
  },
  { TYPE => SPECIES,
    'species'        => 'Tetraodon nigroviridis',
    'genome_db_id'   => 13,    
    'taxon_id'       => 99883,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "tetraodon_nigroviridis_core_37_1e",
  },
  { TYPE => SPECIES,
    'species'        => 'Canis familiaris',
    'genome_db_id'   => 14,    
    'taxon_id'       => 9615,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "canis_familiaris_core_37_1f",
  },
  { TYPE => SPECIES,
    'species'        => 'Bos taurus',
    'genome_db_id'   => 15,    
    'taxon_id'       => 9913,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "bos_taurus_core_37_2a",
  },
  { TYPE => SPECIES,
    'species'        => 'Xenopus tropicalis',
    'genome_db_id'   => 16,    
    'taxon_id'       => 8364,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "xenopus_tropicalis_core_37_4",
  },
  { TYPE => SPECIES,
    'species'        => 'Saccharomyces cerevisiae',
    'genome_db_id'   => 17,    
    'taxon_id'       => 4932,
    'phylum'         => 'Ascomycota',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "saccharomyces_cerevisiae_core_37_1d",
  },
  { TYPE => SPECIES,
    'species'        => 'Ciona intestinalis',
    'genome_db_id'   => 18,    
    'taxon_id'       => 7719,
    'phylum'         => 'Urochordata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "ciona_intestinalis_core_37_2",
  },

  { TYPE => SPECIES,
    'species'        => 'Monodelphis domestica',
    'genome_db_id'   => 19,    
    'taxon_id'       => 13616,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "monodelphis_domestica_core_37_2a",
  },

  { TYPE => SPECIES,
    'species'        => 'Macaca_mulatta',
    'genome_db_id'   => 21,    
    'taxon_id'       => 9544,
    'phylum'         => 'Vertebrata',
    'module'         => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    'host'           => "ecs2",
    'port'           => 3364,
    'user'           => "ensro",
    'dbname'         => "macaca_mulatta_core_37_1a",
  },
  { TYPE => END }
]

