<html>
<head>
  <meta name="navigation" content="Comparative Genomics">
  <title>Pairwise Alignments</title>
  <link rel="stylesheet" type="text/css" media="all" href="85_spreadsheet_table.css" />
  <link rel="stylesheet" type="text/css" media="all" href="95_static_content.css" />
</head>

<body>

<h2><TMPL_VAR NAME=REF_NAME> vs <TMPL_VAR NAME=NON_REF_NAME> <TMPL_VAR NAME=METHOD_TYPE> alignments</h2>

<p><TMPL_VAR NAME=REF_NAME> (<i><TMPL_VAR NAME=REF_SPECIES></i>, <TMPL_VAR NAME=REF_ASSEMBLY>) and <TMPL_VAR NAME=NON_REF_NAME> (<i><TMPL_VAR NAME=NON_REF_SPECIES></i>, <TMPL_VAR NAME=NON_REF_ASSEMBLY>) were aligned using the <TMPL_VAR NAME=METHOD_TYPE> alignment algorithm (<TMPL_VAR NAME=REFERENCE>) in Ensembl release <TMPL_VAR NAME=ENSEMBL_RELEASE>. <TMPL_VAR NAME=REF_NAME>  was used as the reference species. After running <TMPL_VAR NAME=METHOD_TYPE>, the raw <TMPL_VAR NAME=METHOD_TYPE>  alignment blocks are chained according to their location in both genomes. During the final netting process, the best sub-chain is chosen in each region on the reference species.</p>

<a href="/info/genome/compara/analyses.html" class="cp-external">Full list of 
pairwise alignments</a>


<h3 class="boxed">Configuration parameters</h3>

<table class="ss tint species-stats">
<tr class="bg2">
<td class="data" style="width:75%">Gap open penalty (O)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_O></td>
</tr>
<tr>
<td class="data">Gap extend penalty (E)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_E></td>
</tr>
<tr class="bg2">
<td class="data">HSP threshold (K)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_K></td>
</tr>
<tr>
<td class="data">Threshold for gapped extension (L)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_L></td>
</tr>
<tr class="bg2">
<td class="data">Threshold for alignments between gapped alignment blocks (H)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_H></td>
</tr>
<tr>
<td class="data">Masking count (M)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_M></td>
</tr>
<tr class="bg2">
<td class="data">Seed and Transition value (T)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_T></td>
</tr>
<tr class="bg2">
<td class="data">Additional parameters</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_OTHER></td>
</tr>
<tr>
<td class="data">Scoring matrix (Q)</td>
<td class="value"><TMPL_VAR NAME=BLASTZ_Q></td>
</tr>
</table>

<h3 class="boxed">Chunking parameters</h3>
<table style="text-align: left; width: 100%;" border="0" cellpadding="2"
cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top;">
</td>
<th style="vertical-align: top;"><TMPL_VAR NAME=REF_NAME>
</th>
<th style="vertical-align: top;"><TMPL_VAR NAME=NON_REF_NAME>
</th>
</tr>
<tr>
<th style="vertical-align: middle;">Chunk size
</th>
<td style="vertical-align: top;"><TMPL_VAR REF_CHUNK_SIZE>
</td>
<td style="vertical-align: top;"><TMPL_VAR NON_REF_CHUNK_SIZE>
</td>
</tr>
<tr>
<th style="vertical-align: middle;">Overlap
</th>
<td style="vertical-align: top;"><TMPL_VAR REF_OVERLAP>
</td>
<td style="vertical-align: top;"><TMPL_VAR NON_REF_OVERLAP>
</td>
</tr>
<tr>
<th style="vertical-align: middle;">Group set size
</th>
<td style="vertical-align: top;"><TMPL_VAR REF_GROUP_SET_SIZE>
</td>
<td style="vertical-align: top;"><TMPL_VAR NON_REF_GROUP_SET_SIZE>
</td>
</tr>
<tr>
<th style="vertical-align: middle;">Masking options
</th>
<td style="vertical-align: top;"><TMPL_VAR REF_MASKING>
</td>
<td style="vertical-align: top;"><TMPL_VAR NON_REF_MASKING>
</td>
</tr>
</tbody>
</table>


<h3>Results</h3>

<p>Number of alignment blocks: <TMPL_VAR NAME=NUM_BLOCKS></p>

<table style="text-align: left; width: 100%;" border="0" cellpadding="2"
cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top;">
</td>
<th style="vertical-align: top;">Genome coverage(bp)
</th>
<th style="vertical-align: top;">Coding exon coverage (bp)
</th>
</tr>
<tr>
<th style="vertical-align: middle;"><TMPL_VAR NAME=REF_NAME></th>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=REF_ALIGN_PIE>"/>
</td>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=REF_ALIGN_CODEXON_PIE>"/>
</td>
</tr>

<tr>
<td></td>
<td style="vertical-align: top;">Covered: <TMPL_VAR NAME=REF_GENOME_COVERED> out of <TMPL_VAR NAME=REF_GENOME_SIZE>
</td>
<td style="vertical-align: top;">Matches: <TMPL_VAR NAME=REF_MATCHES> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td style="vertical-align: top;">Uncovered: <TMPL_VAR NAME=REF_GENOME_UNCOVERED> out of <TMPL_VAR NAME=REF_GENOME_SIZE>
</td>
<td style="vertical-align: top;">Mis-matches: <TMPL_VAR NAME=REF_MISMATCHES> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Insertions: <TMPL_VAR NAME=REF_INSERTIONS> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Uncovered: <TMPL_VAR NAME=REF_UNCOVERED> out of <TMPL_VAR NAME=REF_CODEXON>
</td>
</tr>

<tr>
<th style="vertical-align: middle;"><TMPL_VAR NAME=NON_REF_NAME>
</th>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=NON_REF_ALIGN_PIE>"/>
</td>
<td style="vertical-align: top;"><img style="width: 200px; height: 200px;" alt=""
src="<TMPL_VAR NAME=NON_REF_ALIGN_CODEXON_PIE>"/>
</td>
</tr>
<tr>
<td></td>
<td style="vertical-align: top;">Covered: <TMPL_VAR NAME=NON_REF_GENOME_COVERED> out of <TMPL_VAR NAME=NON_REF_GENOME_SIZE>
</td>
<td style="vertical-align: top;">Matches: <TMPL_VAR NAME=NON_REF_MATCHES> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td style="vertical-align: top;">Uncovered: <TMPL_VAR NAME=NON_REF_GENOME_UNCOVERED> out of <TMPL_VAR NAME=NON_REF_GENOME_SIZE>
</td>
<td style="vertical-align: top;">Mis-matches: <TMPL_VAR NAME=NON_REF_MISMATCHES> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Insertions: <TMPL_VAR NAME=NON_REF_INSERTIONS> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

<tr>
<td></td>
<td></td>
<td style="vertical-align: top;">Uncovered: <TMPL_VAR NAME=NON_REF_UNCOVERED> out of <TMPL_VAR NAME=NON_REF_CODEXON>
</td>
</tr>

</tbody>
</table>


</body>
</html>
