
# This file specifies where are the ensembl core databases used in a compara
# database. For each species (e.g. Homo sapiens, without _ between genus and
# species) and corresponding assembly (NCBI34), it gives the mysql host server
# connection parameters.
#
# This configuration file is used when connecting a compara database with
# Bio::EnsEMBL::Compara::DBSQL::DBAdaptor using the -conf_file option.
# Then you can easily retrieve core dbadaptors with
# $compara_db->get_db_adaptor("Homo sapiens","NCBI34")
#
# ****WARNING****
#
# both this configuration file (used in Bio::EnsEMBL::Compara::DBSQL::DBAdaptor 
# via the -conf_file option) and the add_db_adaptor/get_db_adaptor methods are 
# now DEPRECATED.
# For now, you can still use them, but you will have a warning message telling you to
# use the more generic Bio::EnsEMBL::Registry configuration file. See perldoc
# Bio::EnsEMBL::Registry and ensembl/modules/Bio/EnsEMBL/Utils/ensembl_init.example


[
['Homo sapiens', 'NCBI34', {'host' => "ensembldb.ensembl.org",
                            'port' => 3306,
                            'user' => "anonymous",
                            'dbname' => "homo_sapiens_core_23_34e",
                            'disconnect_when_inactive' => 1,
                            'module' => 'Bio::EnsEMBL::DBSQL::DBAdaptor'}],
['Mus musculus', 'MGSC3', {'host' => "ensembldb.ensembl.org",
                           'port' => 3306,
                           'user' => "anonymous",
                           'dbname' => "mus_musculus_core_23_32c",
                           'disconnect_when_inactive' => 1,
                           'module' => 'Bio::EnsEMBL::DBSQL::DBAdaptor'}],
['Rattus norvegicus', 'RGSC2', {'host' => "ensembldb.ensembl.org",
                                'port' => 3306,
                                'user' => "anonymous",
                                'dbname' => "rattus_norvegicus_core_23_3c",
                                'disconnect_when_inactive' => 1,
                                'module' => 'Bio::EnsEMBL::DBSQL::DBAdaptor'}]
]
