#!/usr/bin/env nextflow

process {
    executor = 'lsf'
    queue = 'standard'
    perJobMemLimit = true
    withLabel: job_default {
        clusterOptions = '-C0 -M1000   -R"select[mem>1000]   rusage[mem=1000]"'
    }
    withLabel: job_64Gb_32C {
        clusterOptions = '-n 32 -C0 -M64000 -R"select[mem>64000] rusage[mem=64000] span[hosts=1]"'
    }
}
