#!/usr/bin/env nextflow

process {
    executor = 'lsf'
    queue = 'standard'
    perJobMemLimit = true
    withLabel: rc_default {
        clusterOptions = ' -C0 -M1000 '
    }
    withLabel: rc_2Gb {
        clusterOptions = ' -C0 -M2000 '
    }
    withLabel: rc_4Gb {
        clusterOptions = ' -C0 -M4000 '
    }
    withLabel: rc_8Gb {
        clusterOptions = ' -C0 -M8000 '
    }
    withLabel: rc_16Gb {
        clusterOptions = ' -C0 -M16000 '
    }
    withLabel: rc_32Gb {
        clusterOptions = ' -C0 -M32000 '
    }
    withLabel: rc_64Gb {
        clusterOptions = ' -C0 -M64000 '
    }
    withLabel: rc_64Gb_32C {
        clusterOptions = ' -n 32 -C0 -M64000 -R"span[hosts=1]" '
    }
}
