#!/usr/bin/env nextflow

process {
    executor = 'lsf'
    queue = 'standard'
    perJobMemLimit = true
    withLabel: lsf_default {
        clusterOptions = '-C0 -M1000 '
    }
    withLabel: lsf_2Gb {
        clusterOptions = '-C0 -M2000 '
    }
    withLabel: lsf_4Gb {
        clusterOptions = '-C0 -M4000 '
    }
    withLabel: lsf_8Gb {
        clusterOptions = '-C0 -M8000 '
    }
    withLabel: lsf_16Gb {
        clusterOptions = '-C0 -M16000 '
    }
    withLabel: lsf_32Gb {
        clusterOptions = '-C0 -M32000 '
    }
    withLabel: lsf_64Gb {
        clusterOptions = '-C0 -M64000 '
    }
    withLabel: lsf_64Gb_32C {
        clusterOptions = '-n 32 -C0 -M64000 -R"span[hosts=1]"'
    }
}