
<p>



<form action='/<TMPL_VAR SPECIES_URL>/<TMPL_VAR SCRIPT_NAME>/<TMPL_VAR MART_STATE_ID>' 
      name='settings' method='post' target='_self' 
      enctype='multipart/form-data'>
<table align="center" style="width:700px;border:1px solid #ccc">
 <tr>
  <td style="height:1px;vertical-align:top" bgcolor='<TMPL_VAR VDARK_BG_COLOR>'>
<!-- Top HTML -->
<TMPL_VAR TOP_BOX>
  </td>
  <td style="width:200px;vertical-align:top" bgcolor='<TMPL_VAR VDARK_BG_COLOR>' rowspan=2>
<!-- Status HTML -->
<TMPL_VAR STATUS_BOX>
  </td>
 </tr>
 <tr>
  <!-- Main panel -->
  <td style="width:500px;height:100%;text-align:center" bgcolor='<TMPL_VAR MAIN_BG_COLOR>'>
<!-- Main HTML -->
<TMPL_VAR MAIN_BOX>
  </td>
  <!-- Main panel end -->
  </td>
 </tr>
</table>

<!-- State form -->
<!--TMPL_VAR CURRENT_STATE-->
</form>

<!-- Arbitrary HTML to include at the end of the page -->
<TMPL_VAR SUFFIX_HTML>



