
<P>



<FORM action='/<TMPL_VAR SPECIES_URL>/<TMPL_VAR SCRIPT_NAME>/<TMPL_VAR MART_STATE_ID>' 
      name='settings' method='post' target='_self' 
      enctype='multipart/form-data'>
<TABLE align="center" width=700 cellspacing=0 cellpadding=0 border=1>
 <TR>
  <TD valign='top' height="1" bgcolor='<TMPL_VAR VDARK_BG_COLOR>'>
<!-- Top HTML -->
<TMPL_VAR TOP_BOX>
  </TD>
  <TD width=200 bgcolor='<TMPL_VAR VDARK_BG_COLOR>' valign='top' rowspan=2>
<!-- Status HTML -->
<TMPL_VAR STATUS_BOX>
  </TD>
 </TR>
 <TR>
  <!-- Main panel -->
  <TD width=500 height="100%" align='center' valign='top' bgcolor='<TMPL_VAR MAIN_BG_COLOR>'>
<!-- Main HTML -->
<TMPL_VAR MAIN_BOX>
  </TD>
  <!-- Main panel end -->
  </TD>
 </TR>
</TABLE>

<!-- State form -->
<!--TMPL_VAR CURRENT_STATE-->
</FORM>

<!-- Arbitrary HTML to include at the end of the page -->
<TMPL_VAR SUFFIX_HTML>



