#!/usr/bin/env nextflow
/** See the NOTICE file distributed with this work for additional information
* regarding copyright ownership.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
includeConfig "${ENSEMBL_ROOT_DIR}/ensembl-compara/pipelines/nextflow.config"

params {

    input = "/path/to/input.tsv"
    hal = "/path/to/alignment.hal"
    hal_cache = null


    axt_chain_exe = "${LINUXBREW_HOME}/bin/axtChain"

    fasta_to_2bit_exe = "${LINUXBREW_HOME}/bin/faToTwoBit"

    hal_liftover_exe = "${LINUXBREW_HOME}/bin/halLiftover"

    hal_stats_exe = "${LINUXBREW_HOME}/bin/halStats"

    hal_to_fasta_exe = "${LINUXBREW_HOME}/bin/hal2fasta"

    make_source_bed_exe = "${ENSEMBL_ROOT_DIR}/ensembl-compara/pipelines/HalCacheChain/scripts/make_source_bed.py"

    prep_task_params_exe = "${ENSEMBL_ROOT_DIR}/ensembl-compara/pipelines/HalCacheChain/scripts/prep_task_params.py"

    psl_pos_target_exe = "${LINUXBREW_HOME}/bin/pslPosTarget"

    psl_swap_exe = "${LINUXBREW_HOME}/bin/pslSwap"
}
