img { border: 0px }
body { font-family: Luxi Sans, Geneva, Helvetica, Arial, sans-serif;
    color:#555; background-color:#fff; font-size: 80%;
    padding: 0px; margin: 0px; border: 0px; } 
/* #b1cdcb #c8daed */
pre, code, kbd {font-family:Courier New, Courier, Monaco, monospace; }
pre { margin-left:1em; }
div, p, span, li, dd, dt, th, td, pre, code, kbd { font-size:1em; }
p  { margin-top:0.6em; margin-bottom:0.6em; }

.ajax_error { font-weight: bold; color: #c00; background-color: #fcc }
.spinner { 
  height: 16px;width:16px;border:0px;vertical-align:middle;
  padding: 2px 2px 2px 30px; background-image: url(/i/ajax-loader.gif)
}

.page { text-align: center; padding: 0.25em }

/* Headings */
h1 { font-size:1.5em; color:#666666; margin-top:0px; padding:0px;}
h2 { font-size:1.2em; color:#993333; }
h3 { font-size:1.1em; color:#000; }
h4 { font-size:1em;   color:#000; }
.first { margin-top:0px; }

/* Colours and backgrounds */

/* TO REVISIT? - NUMBERS DON'T CORRESPOND 1:1 WITH TEMPLATE ONES! */
.bg1 { background:#fff; }
.bg2 { background:#eef; } /* CONTRAST_BG */
.bg3 { background:#ccc; } /* NEUTRAL_BG */
.bg4 { background:#ccf; } /* CONTRAST_BORDER */

.bg5 { background:#fff; } /* REMOVE? */

.hilite { background:#ccff99; }
.red { color:#933; }

/* Additional fonts */
.serif    { font-family: Serif, Palatino, Times, "Times New Roman", serif; }
.latin { font-style:italic; }
.normal { font-style:normal; font-weight:normal; }
.small { font-size:80%; }
.sequence { font-family: 'Courier New'; }

/* Text layout */
.nowrap { white-space:nowrap; }
.left { text-align:left; }
.right, .more { text-align:right; }
.center { text-align:center; }
.middle { vertical-align:middle; }
.bottom { vertical-align:bottom; }
.autocenter { margin: 0 auto; }
.hide { display:none; }
.invisible { color:#fff; }

/* Links */
a { color:inherit; } /* neutral style for anchor target */
a:link    { color:#3366bb; text-decoration:underline; }
a:visited { color:#000066; text-decoration:underline; }
a:hover   { color:#cc0000; text-decoration:underline; }
a:active  { color:#cc0000; text-decoration:underline; }

/* Tables */

tr { vertical-align:top; }
th, td { text-align:left; border:none; color:#333333; }

/* Lists */
li { margin-bottom:0.5em; }
li.compact { margin-bottom:0; }

ol li { list-style-type:decimal; list-style-image:none; }

ul li { list-style-image:url(/i/bullet_1.gif); }
ul.checklist li { list-style-image:url(/i/checkbox.gif) }
ul li ul li, ul.level2 li { list-style-image:url(/i/bullet_2.gif); }

dt { font-weight:bold; }

dd { margin-bottom:1em; }


/* Forms */
form { border:none; margin-top: 0px; margin-bottom: 0px; padding:0px; }

/* BASIC PRINTER STYLES */

@media print {
  body, h1, h2, h4 { color:#000000; }
  .print_hide { display: none }
}
