/** Debug messages **/
.vis { display:block;}
.invis {display:none; }
#debug { position:absolute; margin: 1em; left: 4em; top: 0; padding: 0; font-size: 0.7em; z-index: 9999 }
#debug_button { background-color: #c90; color: #fff; font-size: 1.2em; font-weight: bold; width: 40em; padding: 1px 0.5em }
#debug_links { height: 1.3em; width: 80em; border: 1px solid #c00; background-color: #c00; padding: 2px; margin: 0; }
#debug_list { height: 40em; width: 80em; border: 1px solid #c00; background-color: #fee; padding: 0.5em; margin: 0; overflow: scroll }

.debug_button     { background-color: #fff; border: 1px outset #c00; color: #c00; padding: 1px 1em; margin: 0 0.5em }
.debug_button_inv { background-color: #c00; border: 1px outset #fff; color: #fff; padding: 1px 1em; margin: 0 0.5em }
.debug_success { color: #090 }
.debug_info    { color: #666 }
.debug_warn    { color: #f90 }
.debug_error   { color: #c00 }

