#wide-footer { clear: both; text-align: center; font-size: 0.9em; padding: 2px 0; margin: 0.5em 0 0 0; }
#footer { clear: both; text-align: center; font-size: 0.9em; padding: 2px 0; margin: 0.5em 0 0 16em; }
#footer img, #wide-footer img { vertical-align: middle; height: 20px }
#footer p, #wide-footer p { margin: 0 0 1em 0 }

