#masthead form                { padding: 0; border: 0; margin: 0; }
div.search                    { margin: 1px 1px 0 0; height: 22px; }
div.search img                { cursor: pointer; height: 16px; width: 16px; }
div.search div                { background-color: [[PANEL_BG]] !important; float: left; height: 16px; padding: 3px; font-weight: bold; }
div.search div input          { border: 0; width: 20em; }
div.search div input.inactive { font-style: italic; color: [[PAGE_BORDER]]; }
div.search div.button img     { cursor: pointer; }
div.search div.button input   { width: auto; }

div.site_menu                 { z-index: 100; width: 100%; margin: 0; border-top: 1px solid [[MH_BORDER]]; position: absolute; cursor: pointer; }
div.site_menu div             { height: 16px; padding: 2px; line-height: 16px; border: 1px solid [[MH_BORDER]]; border-top: 0; font-size: 10px; background-color: [[PANEL_BG]] !important; color: [[CONTRAST_TEXT]]; }
div.site_menu div img         { height: 16px; width: 16px; margin-right: 4px; float: left; }
