#main { margin:0;padding:0; border: 0; position: relative; }

#nav {width:14em;margin:0 0.25em;border:0;padding:0;z-index:100; position:absolute; top: 5px; left: 0}
#nav ul {margin: 0 0 0.5em 0; border:1px solid [[PANEL_BORDER]];padding:0.2em 0 0 1.5em;background-color:[[PANEL_BG]]}
#nav ul li { margin-bottom:0; list-style-image:none; color:[[CONTRAST_HEADER]]; }
#nav a {color:[[MH_BORDER]];text-decoration:none;}
dd._closed dl{display:none}

