.local_context { margin: 0 0 0.5em 0; border: 1px solid [[PANEL_BORDER]]; padding: 0; background-color: [[PANEL_BG]]; }
.local_context a { color: [[MH_BORDER]]; text-decoration: none; }
.local_context dt { font-weight: bold; }
.local_context dd { margin-left: 0; white-space: nowrap; }
.local_context dd dl { border:0; padding: 0 0 0 14px; }
.local_context dd img { height: 14px; width: 14px; border: 0; vertical-align: top; padding-right: 5px; }

.local_context dl { overflow: hidden; width: 14em; margin: 0; }
.local_context dd { margin-bottom: 0; overflow: hidden; }
.local_context dt { border-bottom: 1px solid [[NEUTRAL_BORDER]]; padding: 2px; }
.local_context dd.notl dl, .local_context dd.notl { background: url(/i/line.gif) repeat-y;  }
.local_context dd.notl dl { margin: 0; }
.local_context dd.last { background: [[PANEL_BG]] url(/i/last.gif) no-repeat; }
.local_context dd.active, .local_context a.active { font-weight: bold; background-color: [[TINT_BG]]; }
.local_context dd.active dl { background-color: [[PANEL_BG]]; }
.local_context dd.active dd { font-weight: normal; }
.local_context dd._closed dl  { display: none; }
body.static .local_context dl { width: 20em; }

.tool_buttons p, .other_tool { display: none; margin: 0; }
.tool_buttons a, .tool_buttons p.disabled { background-position: 7px 50%; background-repeat: no-repeat; border: 3px double [[PAGE_BG]]; margin: 4px 0px; padding: 4px 4px 4px 28px; }
.tool_buttons a { background-color: [[BUTTON_BG]]; color: [[BUTTON_TEXT]]; text-decoration: none; display: block; }
.tool_buttons p.disabled { background-color: [[BUTTON_DISABLED]]; color: [[BUTTON_TEXT]]; }
      
.tool_buttons a:hover   { background-color: [[BUTTON_BG_HOVER]]; color: [[BUTTON_TEXT]]; }
.tool_buttons a:visited { color: [[BUTTON_TEXT]]; }
      
.tool_buttons .config   { background-image: url(/i/config.png);   background-repeat: no-repeat; }
.tool_buttons .data     { background-image: url(/i/data.png);     background-repeat: no-repeat; }
.tool_buttons .export   { background-image: url(/i/export.png);   background-repeat: no-repeat; }
.tool_buttons .bookmark { background-image: url(/i/bookmark.png); background-repeat: no-repeat; }
.tool_buttons .find     { background-image: url(/i/find.png);     background-repeat: no-repeat; }
