#local dl { overflow: hidden; width: 14em; margin: 0 }
#local dd { margin-bottom: 0; overflow: hidden }
#local dt { border-bottom: 1px solid [[NEUTRAL_BORDER]]; padding: 2px; }
#local dd.notl dl, #local dd.notl { background: url(/i/line.gif) repeat-y;  }
#local dd.notl dl { margin: 0 }
#local dd.last { background: [[PANEL_BG]] url(/i/last.gif) no-repeat }
#local dd.active, #local a.active { font-weight: bold; background-color: [[TINT_BG]] }
#local dd.active dl { background-color: [[PANEL_BG]] }
#local dd.active dd { font-weight: normal }

#local-tools li.disabled { color:[[PAGE_TEXT]] }
