

/* The CSS for the panel headings */

/*
OLD PRE-68 STYLES - REMOVE AFTER BROWSER TESTING
div#content, div.content { margin:0 0 0 240px; padding:0; border: none; }
body.static div#content { margin-left: 240px; }
@media print {
   div#content { margin: 0; padding:0; border:none; }
}
div#content div.panel { background-color:[[PANEL_BG]]; }
*/

a.help-header                       { color: [[PAGE_HEADER]]; text-decoration: none; position: relative; }
a.help-header span                  { margin-right: 6px; display: inline-block; }
a.help-header span.sprite           { float: none; background-position: 0 0; position: relative; top: 1px; }
a.help-header:hover span.sprite     { background-position: 0 -18px; }
body.ie67 a.help-header span.sprite { position: absolute; }
body.ie6  a.help-header span.sprite { width: 18px; font-size: 14px; }

p#bottompad{margin:0;border:0;padding:0;clear:both;height:1px;overflow:hidden}

/* Variation "icons" */
img.portal  { height: 96px; width: 96px; margin: 0 16px 16px 0; padding:8px; border-width:1px; border-style:solid; border-color:#ccc; border-radius:16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }

/************************************
             table stuff
 ************************************/

.toggle_img { background: url(/i/closed2.gif); width: 14px; height: 14px; position: absolute; right: 4px; top: 2px; }
.toggle_img.open { background: url(/i/open2.gif); }
.toggle_img.limpet { display: inline-block; position: static; vertical-align: -2px; margin-left: 4px; }

.toggle_div { position: relative; padding-right: 16px; }
.toggle_summary { display: inline; }
.toggle_summary { position: static; visibility: visible; } /* experiment */
body.ie .cell_detail { position: static; visibility: visible; display: none; } /* works */
.cell_detail { position: absolute; visibility: hidden; } /* experiment */
.open .cell_detail { position: static; visibility: visible; } /* experiment */

.fast_fixed_table { table-layout: fixed; }

.summary_trunc { display: block; word-wrap: normal; overflow-wrap: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

body.ie .open .toggle_summary { position: static; visibility: visible; display: none; } /* works */
.open .toggle_summary { position: absolute; visibility: hidden; } /* experiment */
.open .cell_detail { display: inline; }

.cell_detail { word-wrap: break-word; overflow-wrap: break-word; }
.data_table { word-wrap: break-word; overflow-wrap: break-word; }

body.ie .dataTables_wrapper { zoom: 1; }
body.ie .open .cell_detail { display: block; }

/************************************
             other stuff
*************************************/

.ajax_add span               { display: none;   }
.ajax_add.closed span.closed { display: inline; }
.ajax_add.open span.open     { display: inline; }

div.reorder_species ul li          { cursor: n-resize; }
body.mac div.reorder_species ul li { cursor: ns-resize; }

div.toggleable_table             { clear: both; }
div.toggleable_table h2          { float: left; }
div.toggleable_table h2 a.toggle { background-position: right 50%; }

form.data_table_config,
form.data_table_export { display: none; }


/***********************************
           helptip stuff
***********************************/
img.helptip-icon                  { vertical-align: middle; }
div.helptip                       { position: absolute; z-index: 999999999999; max-width: 250px; display: none; border-left: 8px solid [[PAGE_TEXT]]; border-top: 8px solid transparent; margin: 20px 0 0 10px; border-radius: 0 0 0 4px; }
div.helptip div.ht-inner          { background-color: [[PAGE_TEXT]]; color: [[PAGE_BG]]; padding: 8px 8px 8px 0; line-height: 16px; border-radius: 0 4px 4px 0; }
div.helptip-top                   { border-bottom: 8px solid transparent; border-top-width: 0; margin-top: -20px; border-radius: 4px 0 0 0; }
div.helptip-left                  { border-right: 8px solid [[PAGE_TEXT]]; border-left-width: 0; margin-left: -10px; border-radius: 0 0 4px 0; }
div.helptip-static                { margin-left: 0; }
div.helptip-top.helptip-left      { border-radius: 0 4px 0 0; }
div.helptip-left div.ht-inner     { padding-left: 8px; padding-right: 0; border-radius: 4px 0 0 4px; }
body.ie6 div.helptip              { border: none; }
body.ie6 div.helptip div.ht-inner { padding: 8px; }
