/* The CSS for the panel headings */

div#content { margin:0 0 0 14em; padding:0; border: none; }
body.static div#content { margin-left: 20em; }
@media print {
   div#content { margin: 0; padding:0; border:none; }
}

div#content div.panel { border:1px solid #ccc; background-color:[[PANEL_BG]]; }

a.help-header { color:[[CONTRAST_HEADER]];text-decoration:none; }
.glossary_mouseover { border-bottom:1px dotted #00c; cursor:pointer; }
.floating_popup { 
  position: absolute; 
  display: none; 
  background-color: [[TINT_BG]]; 
  margin: 0;
  border: 1px outset [[TINT_BORDER]]; 
  z-index: 200; 
  font-weight: bold; 
  padding: 2px; 
  font-size: 0.8em; 
  text-align: left; 
  width: 20em;
  white-space: normal;
}

p#bottompad{margin:0;border:0;padding:0;clear:both;height:1px;overflow:hidden}

/* Columns for static content */
#static { margin: 3px 1% 0 1%; }
.onecol { margin:0 0 1% 0; padding:1% }
.twocol-left  { float:left; width:47%; margin:0 0 1% 0; padding:1%; clear:left; }
.twocol-right { float:right; width:47%; margin:0 0 1% 0; padding:1%; }

body.ie6 .twocol-left,
body.ie6 .twocol-right { width: 40%; }

.threecol-left   { float:left; width:30%; margin:0 0 1% 0; padding:1%; clear:left; }
.threecol-middle { float:left; width:30%; margin:0 0 1% 0; padding:1%; }
.threecol-right  { float:right; width:30%; margin:0 0 1% 0; padding:1%; }

body.ie6 .threecol-left,
body.ie6 .threecol-middle,
body.ie6 .threecol-right { width: 25%; }

.plain-box  { color:[[PANEL_TEXT]]; background-color:[[PANEL_BG]]; border:1px solid [[PANEL_BORDER]]; }
.tinted-box { color:[[PANEL_TEXT]]; background-color:[[TINT_BG]]; border:1px solid [[TINT_BORDER]]; }
.info-box { color:[[CONTRAST_TEXT]]; background-color:[[CONTRAST_BG]]; border:1px solid [[CONTRAST_BORDER]]; }
.alert-box { color:[[ALERT_TEXT]]; background-color:[[ALERT_BG]]; border:1px solid [[ALERT_BORDER]]; }
.embedded-box { width:80%; margin:1em auto; padding:0.5em; }

.float-right { float:right; width:30%; margin:1% 1% 0 0; padding:1%; }
.float-left { float:left; width:30%; margin:1% 1% 0 0; padding:1%; }
.unpadded { margin:0 1%; padding:0; }
.noclear { clear:none; }

hr.end-of-doc { height: 1px; color:[[PANEL_BORDER]]; background-color:[[PANEL_BORDER]]; border:0; margin: 2em 1em 0 1em; padding: 0; clear:both; }
hr.with-nav { margin-left: 15em; }
body.static hr.with-nav { margin-left: 21em; }

.ajax_add span               { display: none;   }
.ajax_add.closed span.closed { display: inline; }
.ajax_add.open span.open     { display: inline; }

ul.no-bullet, ul.no-bullet li {list-style-image:none; list-style:none;}
