#main { margin-left: 224px; padding: 0; border: 0; position: relative; margin-top: 16px; }

body.static #main { margin-left: 0; }

@media print {
   #main { margin-left: 0; }
}


/* The CSS for the panel headings */

/*
OLD PRE-68 STYLES - REMOVE AFTER BROWSER TESTING
div#content, div.content { margin:0 0 0 240px; padding:0; border: none; }
body.static div#content { margin-left: 240px; }
@media print {
   div#content { margin: 0; padding:0; border:none; }
}
div#content div.panel { background-color:[[PANEL_BG]]; }
*/

a.help-header { color: [[PAGE_HEADER]]; text-decoration: none; background: url(/i/16/info.png) no-repeat right center; padding-right: 24px; }

.glossary_mouseover { border-bottom:1px dotted #00c; cursor:pointer; }
.floating_popup { 
  position: absolute; 
  display: none; 
  background-color: [[TINT_BG]]; 
  margin: 0;
  border: 1px outset [[TINT_BORDER]]; 
  z-index: 200; 
  font-weight: bold; 
  padding: 2px; 
  font-size: 10px; 
  text-align: left; 
  width: 20em;
  white-space: normal;
}

p#bottompad{margin:0;border:0;padding:0;clear:both;height:1px;overflow:hidden}

/* Columns for static content */
#static    { margin: 0 16px; }

div.column-wrapper          { overflow: hidden;             } /* wraps the columns */
div.column-two              { float: left; width:50%;       } /* actual column for 2 col layout */
div.column-three            { float: left; width:33.3333%;  } /* actual column for 3 col layout */
div.column-four             { float: left; width:25%;       } /* actual column for 4 col layout */
div.column-padding          { margin-left: 8px; margin-right: 8px; } /* inner div for columns to provide padding */

/* IE clearly doesn't understand simple mathematics */
body.ie7 .column-two             { width:49.2%; }
body.ie6 .column-two             { width:49.6%; }
body.ie7 .column-three           { width:33.2%; }
body.ie6 .column-three           { width:32.6%; }

table.blobs { border-spacing: 16px 0; margin: 0 -16px 16px; }
table.blobs td { padding:10px; border-width:1px; border-style:solid; border-color:#ccc; border-radius:16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }
table.blobs td.twocol   { width:50%;  }
table.blobs td.fourcol  { width:25%;  }
img.portal  { margin: 0 16px 16px 0; padding:8px; border-width:1px; border-style:solid; border-color:#ccc; border-radius:16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }

/***********************************
              two column
***********************************/
div.twocol { margin: 0 0 8px; } /* other 4px come from any <p> or <ul> inside it, and 4px from rhs padding to make it 16px */
div.twocol div.row { overflow: hidden; }
div.twocol div.row div.lhs  { float: left; width: 224px; font-weight: bold; }
div.twocol div.row div.rhs  { margin-left: 240px; padding-bottom: 4px; }
div.twocol p,
div.twocol ul,
div.twocol pre,
div.twocol table,
div.twocol form,
div.twocol div.twocol-cell { margin: 0 0 4px; }

/************************************
             container boxes
*************************************/

.plain-box, .tinted-box, .info-box, .round-box
.alert-box, .embedded-box { [[PANEL_TEXT]]; padding: 16px 16px 0; margin-bottom: 16px;
                             border-width: 1px; border-style: solid; overflow: hidden; }
.plain-box    { background-color:[[PANEL_BG]]; border-color: [[PANEL_BORDER]]; }
.tinted-box   { background-color:[[TINT_BG]]; border-color: [[TINT_BORDER]]; }
.info-box     { background-color:[[CONTRAST_BG]]; border-color:[[CONTRAST_BORDER]]; }
.alert-box    { background-color:[[ALERT_BG]]; border-color:[ALERT_BORDER]]; }
.embedded-box { margin:16px 0; padding:8px; }
.round-box    { -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; }


.centered { text-align:center; margin:0 auto; }
.float-right, .float-left { width:30%; margin: 0; padding: 16px 16px 0; }
.float-left   { float:left; margin: 0 16px 16px 0; }
.float-right  { float:right; margin: 0 0 16px 16px; }
.unpadded { margin:0 1%; padding:0; }
.noclear { clear:none; }

/************************************
          non-standard lists
*************************************/

ul.compact                      { margin: 0px; padding: 0 0 0 16px; }
ul.compact, ul.compact li       { list-style-image: none; }
ul.compact li                   { margin: 1px; }
ul.no-bullet, ul.no-bullet li   { list-style-image: none; list-style: none; }

/************************************
             other stuff
*************************************/

.ajax_add span               { display: none;   }
.ajax_add.closed span.closed { display: inline; }
.ajax_add.open span.open     { display: inline; }

div.reorder_species ul li          { cursor: n-resize; }
body.mac div.reorder_species ul li { cursor: ns-resize; }

div.toggleable_table             { clear: both; }
div.toggleable_table h2          { float: left; }
div.toggleable_table h2 a.toggle { background-position: right 50%; }

form.data_table_config,
form.data_table_export { display: none; }
