/* The CSS for the panel headings */

div#content { margin:0 0 0 14em; padding:0; border:none; }
@media print {
   div#content { margin:0; padding:0; border:none; }
}
div#content div.panel { border:1px solid #ccc; background-color:[[PANEL_BG]]; }

a.help-header { color:[[CONTRAST_HEADER]];text-decoration:none; }

p#bottompad{margin:0;border:0;padding:0;clear:both;height:1px;overflow:hidden}

/* Columns for static content */
#static { margin:1% 1% 0 1%; padding:1em; }
.onecol { margin:0 0 1% 0; padding:1% }
.twocol-left { float:left; width:47%; margin:0 0 1% 0; padding:1%; clear:left; }
.twocol-right { float:right; width:47%; margin:0 0 1% 0; padding:1%; }
.threecol-left { float:left; width:30%; margin:0 0 1% 0; padding:1%; clear:left; }
.threecol-middle { float:left; width:30%; margin:0 0 1% 0; padding:1%; }
.threecol-right { float:right; width:30%; margin:0 0 1% 0; padding:1%; }

/* Alternative column styles for IE6, which doesn't interpret percentages properly */
* html .twocol-left { float:left; width:40%; margin:0 0 1% 0; padding:1%; clear:left; }
* html .twocol-right { float:right; width:40%; margin:0 0 1% 0; padding:1%; }
* html .threecol-left { float:left; width:25%; margin:0 0 1% 0; padding:1%; clear:left; }
* html .threecol-middle { float:left; width:25%; margin:0 0 1% 0; padding:1%; }
* html .threecol-right { float:right; width:25%; margin:0 0 1% 0; padding:1%; }

.plain-box  { color:[[PANEL_TEXT]]; background-color:[[PANEL_BG]]; border:1px solid [[PANEL_BORDER]]; }
.tinted-box { color:[[PANEL_TEXT]]; background-color:[[TINT_BG]]; border:1px solid [[TINT_BORDER]]; }
.info-box { color:[[CONTRAST_TEXT]]; background-color:[[CONTRAST_BG]]; border:1px solid [[CONTRAST_BORDER]]; }
.alert-box { color:[[ALERT_TEXT]]; background-color:[[ALERT_BG]]; border:1px solid [[ALERT_BORDER]]; }
.embedded-box { width:80%; margin:1em auto; padding:0.5em; }

.float-right { float:right; width:30%; margin:1% 1% 0 0; padding:1%; }
.float-left { float:left; width:30%; margin:1% 1% 0 0; padding:1%; }
.unpadded { margin:0 1%; padding:0; }
.noclear { clear:none; }

hr.end-of-doc { height:1px; color:[[PANEL_BORDER]]; background-color:[[PANEL_BORDER]]; border:0; 
                margin:2em 1em 0 1em; padding: 0; clear:both; }
hr.with-nav { margin-left:15em; }
