#transcripts_table { margin: 0; clear: both; }
#transcripts_table tr.ss_header,
#transcripts_table tr.ss_header th { background-color: #FFF!important; }

/******************************
        Summary panel
******************************/

/* NOTE: summary table is now configured to use "twocol" instead of dl dt dd */

div.summary_panel a.toggle                   { color: [[PAGE_TEXT]]; }

div.summary_panel table.toggle_table         { border-collapse: collapse; margin: 0.5em 0 0.5em 0; cursor: pointer; }
div.summary_panel table.toggle_table td,
div.summary_panel table.toggle_table th      { border: 1px solid [[NEUTRAL_BORDER]]; margin: 0; text-align: center; white-space: nowrap; }
div.summary_panel table.toggle_table td      { padding: 2px 4px; }
div.summary_panel table.toggle_table .active { background-color: [[TINT_BG]]; }
div.summary_panel table.toggle_table td.bold { font-weight: bold; text-align: center; }
div.summary_panel .toggleTable_wrapper       { clear: none; }
