.relocate{float:left}
.navbar { color:[[CONTRAST_TEXT]]; background-color: [[TINT_BG]]; text-align: right; margin-top: 3px; margin-bottom: 3px; padding: 3px; font-weight: bold }
.navbar a {font-size:1.2em;color:[[MH_BORDER]];vertical-align:middle; text-decoration: none; margin: 0;margin:1px}
.navbar img.blank {background-color:[[MH_BORDER]];height:4px;vertical-align:bottom;width:4px;border: outset 1px [[MH_BORDER]] }
.navbar img.blank_high {background-color:[[CONTRAST_HEADER]];height:4px;vertical-align:bottom;width:4px;border: outset 1px [[CONTRAST_HEADER]] }
.navbar img.zoom  {height:18px;width:18px;vertical-align:bottom}
.go-button { color: [[MH_BORDER]]; background-color:[[TINT_BORDER]]; border: 1px outset [[TINT_BORDER]]; font-weight:bold; }

div.alignment_selector        { padding: 2px; }
div.alignment_selector label  { width: 150px; display: inline-block; }
div.alignment_selector select { width: 345px; }
