/* Replacement for previous (invalid) form css! */

form.std fieldset { border:none; }

form.std fieldset div { margin-top:10px; }

form.std div.notes {
  width:50%; padding:4px; margin-bottom:10px; 
  background-color:[[CONTRAST_BG]]; border:1px [[CONTRAST_BORDER]] solid;
}

form.std div.notes h4 {
  background-image: url('/i/infoicon.gif');
  background-repeat: no-repeat;
  background-position: top left;
  margin:0 0 5px 0;
  padding-left:16px;
}

form.std label { font-weight:bold; }

input.submit { 
  background-color:[[MH_BG]]; border:outset [[MH_BG]] 2px;
  color:#fff; font-weight:bold;
}

form.std div.submit {

}

form.std { margin: 0; padding:3px;}
form.std dl { margin: 0; position: relative }
form.std dl dt { clear: left; width: 50%; float: left; margin: 0; padding: 0; padding-bottom: 0.5em }
form.std dl dd { width: 45%; float: left; margin: 0; padding: 0.1em 0 0.5em 0 }
form.std dl.narrow-labels dt { width: 30% }
form.std dl.narrow-labels dd { width: 65% }
form.std dl dt.checkbox-long { width: 90% }
form.std dl dd.checkbox-long { width: 5%; float: right }

form.std dt.wide { float: left; width: 95% }
form.std input.normal { width: 90% }
form.std input.short  { width: 10em }
form.std input.narrow { width: 20em }
form.std input.vshort { width: 4em }

