form div, form > fieldset, form h2 {
  -webkit-margin-collapse: separate; /* crome and safari fix for margins of form components */
}

form fieldset { border: none; padding: 0; margin: 0; }

form.std label, form.nonstd label { font-weight:bold; }

form.std fieldset { text-align: left; }
form.nonstd fieldset { padding: 0.5em; margin: 0; }

form.std              { margin: 0 0 8px 0; padding: 0;}
form.std table        { width:100% }
form.std fieldset     { padding: 0; }
form.std fieldset th, 
form.std fieldset td  { padding:4px; width: 50%; }

form.labels_right label { text-align: right; margin: 4px 8px 0 0; }

form.narrow-labels fieldset table th { width: 30% }
form.narrow-labels fieldset table td { width: 65% }

form.std fieldset th.checkbox-long { width: 90% }
form.std fieldset td.checkbox-long { width: 5%; float: right }

form.std fieldset th.no-bold { font-weight:normal; }
form.std fieldset th.select_all { text-decoration: underline; }

form.std input.normal { width: 90% }
form.std input.short  { width: 10em }
form.std input.narrow { width: 20em }
form.std input.vshort { width: 4em }

form.check input.required { background-color: #FFEECC; }
form.check input.invalid  { background-color: #FFCCCC; }
form.check input.valid    { background-color: #CCFFCC; }
form.check input.disabled { background-color: #999999; }

form.check label.invalid { color: #FF0000; font-weight: normal; font-style: italic; display: inline; white-space: nowrap; position: relative; top: 3px; vertical-align: top; }

.hi { border: solid 1px red; padding: 0 1px; font-weight: bold }

/* new stuff */

legend { /*intentionally made similar to panel h2 */
  border-bottom: 1px solid [[PANEL_BORDER]];
  display: block;
  width: 100%;
  font-weight:bold;
  margin: 5px -2px;
  padding: 2px;
  color: [[CONTRAST_HEADER]];
  font-size: 1.2em;
}
div.fnotes {
  margin-bottom: 16px;  /* TODO - remove this and wrap all the notes in <p>*/
}
div.form-field {
  overflow: hidden;
  margin-bottom: 8px;
  clear: both;
}
label.ff-label {
  font-weight: bold;
  float: left;
  width: 50%;
}
div.ff-right {
  padding-left: 50%;
}
div.ff-right span.snote {
  vertical-align: top;
  position: relative;
  top: 3px;
}
div.fbutton-centre div.ff-right {
  padding-left: 0%;
  margin: 5px;
  text-align: center;
}
div.fbutton-left div.ff-right {
  padding-left: 0%;
  margin: 5px;
  text-align: left;
}
div.fbutton-right div.ff-right {
  padding-left: 0%;
  margin: 5px;
  text-align: right;
}
div.ff-notes {
  padding: 3px 0 0 50%;
}
.ftext, .ftextarea {
  border: [[PANEL_BORDER]] solid 1px;
  width: 210px;
  margin-bottom: 3px;
}
.ffile {
  margin-bottom: 3px;
}
.ftextarea {
  height: 100px;
  width: auto;
}
input.fbutton {
  background-color:[[BUTTON_BG]];
  border:double [[BUTTON_TEXT]] 3px;
  color:[[BUTTON_TEXT]];
  font-weight:bold;
  margin-bottom: 3px;
  cursor: pointer;
}
input.fbutton:active, input.fbutton:hover {
  background-color:[[BUTTON_BG_HOVER]];
}
input.fbutton.disabled, input.fbutton.disabled:active {
  background-color:#999;
}
.fselect {
  width: 210px;
  margin-bottom: 3px;
}
.inline .ftext, .inline .ftextarea, .inline .fselect, .inline .fbutton, .inline .ffile {
  width: auto;
  margin-right: 6px;
}
.ff-checklist {
  margin-right: 10px;
}
.ff-checklist input {
  float: left;
}
.ff-checklist label.ff-checklist-label {
  margin: 0 10px;
  font-weight: normal;
  display: inline-block;
}
.panel p.ff-checklist {
  line-height: 20px;
  margin: 0 8px 8px 0;
  overflow: hidden;
}
div.select_all label {
  text-decoration: underline;
}
table.matrix .ff-mcell {
  text-align: center;
}
table.matrix label {
  white-space: nowrap;
  cursor: pointer;
}
p.matrixhead {
  font-weight:bold;
  color: [[CONTRAST_HEADER]];
}
div.ele-das {
  overflow: hidden;
  padding: 5px;
}
.ele-das-left {
  float: left;
  width: 60px;
}
.ele-das-right {
  padding-left: 60px;
}
.ele-das-right p {
  font-weight: bold;
}
