.modal_content .panel_wide      { margin-left: 0.25em; }

.taxon_selector h2 { margin: 0 }

.taxon_selector .loader { background: [[WHITE]] url("/i/e-loader.gif") no-repeat center center; height: 100%; }

.species_select_container {
  display: flex;
}

.species_select_container div.taxon_selector_tree, 
.species_select_container div.taxon_selector_list,
.species_select_container div.species_homepage_selector
 {
  font-weight: normal;
}
.species_select_container div.taxon_selector_tree,
.species_select_container div.species_homepage_selector
 {
  width: 69%;
  margin-right: 1%
}
.species_select_container div.taxon_selector_tree.full-width,
.species_select_container div.species_homepage_selector.full-width
 {
  width: 100%;
  margin: 0px;
}
.species_select_container div.taxon_selector_tree .vscroll_container {
  padding: 8px 24px;
}

.species_select_container div.taxon_selector_tree .vscroll_container ul li a{
  outline: none;
}

.species_select_container div.taxon_selector_list {
  width: 30%;
}
.species_select_container div.content {
  flex-direction: column;
  background-color: [[WHITE]];
  padding: 1em;
  width: 100%;
  padding: 0 !important;
  overflow: auto;
  border: [[PALE_GREY]] 1px solid;
}
.species_select_container div.content h2{
  background: [[PALE_GREY]];
  font-weight: 100;
  font-size: 18px;
  padding: 4px 8px;
  text-align: center;
  color: [[V_DARK_GREY]];
  letter-spacing: 0.4px;
}

div.taxon_selector_list h2 .ss-count {
  font-size: 10px;
  position: absolute;
  padding: 2px 5px;
  margin: -4px 0px 0 0;
  margin: -8px 0px;
  border-radius: 20%;
  background: [[OK_DARK]];
  color: [[WHITE]];
}

div.taxon_selector_list h2 .ss-count.warn {
  background-color: [[SEVERE_DARK]];
}

.species_select_container div.content .vscroll_container {
  flex-grow: 1;
  overflow: auto;
}

div.taxon_selector_tree .finder,
div.species_homepage_selector .finder
 { 
  display: flex;
  background-color: [[V_LIGHT_GREY]];
  box-sizing: border-box;
}

div.taxon_selector_tree .finder input,
div.species_homepage_selector .finder input
 { 
  width: 100%;
  color: [[MEDIUM_GREY]];
  font-size: 1.2em;
  font-weight: 100;
  padding-left: 8px;
  outline: none;
  height: 40px;
  border: none;
}

div.taxon_selector_tree .finder input::-webkit-input-placeholder,
div.species_homepage_selector .finder input::-webkit-input-placeholder
 {
   color: [[PALE_GREY]];
}

div.taxon_selector_tree .finder input:-moz-placeholder,
div.species_homepage_selector .finder input:-moz-placeholder
 { /* Firefox 18- */
   color: [[PALE_GREY]];  
}

div.taxon_selector_tree .finder input::-moz-placeholder,
div.species_homepage_selector .finder input:-moz-placeholder
 {  /* Firefox 19+ */
   color: [[PALE_GREY]];  
}

div.taxon_selector_tree .finder input:-ms-input-placeholder,
div.species_homepage_selector .finder input:-ms-input-placeholder
 {  
   color: [[PALE_GREY]];  
}

div.taxon_selector_list     {  }
div.taxon_selector_list ul  { padding: 0; margin: 0; }
div.taxon_selector_list li  { 
  list-style-image: none;
  list-style-type: none;
  clear: both;
  height: 40px;
  position: relative;
  background-color: [[V_LIGHT_GREY]];
  color: [[V_DARK_GREY]];
  border-bottom: 1px solid [[PALE_GREY]];
  box-shadow: 2px 0px 4px [[PALE_GREY]];
  box-sizing: border-box;
  margin-bottom: 0px !important;
}

div.taxon_selector_list li:hover  { 
  cursor: ns-resize;
}

div.taxon_selector_list li span {
  position: absolute; 
  white-space: nowrap;
}
div.taxon_selector_list li span.selected-sp-title {
  padding-left: 48px;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 100;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.taxon_selector_list .selected-sp-img img{
  border-bottom: 1px solid [[PALE_GREY]];
  height: 39px;
}
div.taxon_selector_list li span.remove {
  cursor: pointer;
  font-size: 18px;
  padding: 4px 8px;
  right: 0;
  color: [[MEDIUM_GREY]];
  font-weight: 100;
  margin: 7px;
  box-sizing: border-box;
}
div.taxon_selector_list li span.remove:hover {
  color: [[MEDIUM_GREY]];
  border: 1px solid [[MEDIUM_GREY]];
  margin: 6px;
  border-radius: 50%;

}
/*
div.taxon_selector_hint         { margin: 0.25em 0.25em 0.5em 0.25em; border: 1px [[CONTRAST_BORDER]] solid; padding: 4px; background-color: [[CONTRAST_BG]]; overflow: hidden; }
div.taxon_selector_hint h4  { background-image: url(/i/infoicon.gif); background-repeat: no-repeat; background-position: top left;  margin: 0 0 5px 10px; padding-left: 16px; }
div.taxon_selector_hint p   { padding-left: 10px; }
*/

div.taxon_selector_tree div.vscroll_container,
div.taxon_selector_list div.vscroll_container {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
}

div.taxon_selector_form div.checkboxes {
  visibility: hidden;
  position: absolute;
}

div.taxon_selector_form div.list-wrapper {
  padding:6px;
  background-color:[[WHITE]];
  width:576px;
}

div.taxon_selector_form ul.list {
  max-height:100px;
  overflow-y: auto;
  padding: 2px 4px;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}

div.taxon_selector_form ul.list li {
  margin-right: 10px;
  list-style: none;
  margin-bottom: 10px; 
  box-sizing: border-box;
  border: 1px solid [[PALE_GREY]];
  background: aliceblue;
  display: flex;
  width: 30%;
}

div.taxon_selector_form ul.list li img,
div.ss-alignment-container .ss-alignment-selected-label img {
  width: 24px;
  height: 24px;
}

div.ss-alignment-container,
div.ss-alignment-container .ss-alignment-selected-label {
  display: flex;
  align-items: center;
}
div.ss-alignment-container .ss-alignment-selected-label {
  margin: 0px 8px;
  background-color: [[WHITE]];
  border: 1px solid [[PALE_GREY]];
}
div.taxon_selector_form ul.list li span.ss-selected,
div.ss-alignment-container .ss-alignment-selected-label .ss-selected {
  padding: 4px 6px;
  font-weight: 400;
  font-size: 12px;
  color: [[V_DARK_GREY]];
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.taxon_selector_form ul.list li span.ss-selection-delete {
  padding: 4px 6px 0 0;
  color: [[PALE_GREY]];
  font-weight: 100;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
}
div.taxon_selector_form ul.list li span.ss-selection-delete:hover {
  color: [[SEVERE_MEDIUM]];
}
div.taxon_selector_form div.links {
  padding: 3px 0;
}

div.taxon_selector_tree .ss_breadcrumbs {
  padding: 0px;
  background: [[PALE_GREY]];
  list-style: none; 
  overflow: hidden;
  height: 24px;
  /*margin-top: 20px;*/
  /*border-radius: 4px;*/
  margin: 0px;
}

div.taxon_selector_tree .ss_breadcrumbs li.active{
  background: [[MEDIUM_GREY]];
}

div.taxon_selector_tree .ss_breadcrumbs>li+li:before {
  padding: 0;
}
div.taxon_selector_tree .ss_breadcrumbs li { 
  float: left; 
  list-style: none;
}
div.taxon_selector_tree .ss_breadcrumbs li.active a {
  background: [[MAIN_DARK]];
}
div.taxon_selector_tree .ss_breadcrumbs li.completed a {
  background: [[MAIN_DARK]]; 
}
div.taxon_selector_tree .ss_breadcrumbs li.active a:after {
  border-left: 30px solid [[MAIN_DARK]];
}
div.taxon_selector_tree .ss_breadcrumbs li.completed a:after {
  border-left: 30px solid [[MAIN_DARK]];
} 

div.taxon_selector_tree .ss_breadcrumbs li a {
  color: [[WHITE]];
  text-decoration: none; 
  padding: 4px 0 4px 45px;
  position: relative; 
  display: block;
  float: left;
  /*text-transform: uppercase;*/
  font-size: 12px;
}
div.taxon_selector_tree .ss_breadcrumbs li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid [[PALE_GREY]];
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
} 
div.taxon_selector_tree .ss_breadcrumbs li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid [[WHITE]];
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
} 
div.taxon_selector_tree .ss_breadcrumbs li:first-child a {
  padding-left: 15px;
}
div.taxon_selector_tree .ss_breadcrumbs li a:hover { background: [[CONTRAST_DARK]]; color: [[DARK_GREY]]; }
div.taxon_selector_tree .ss_breadcrumbs li a:hover:after { border-left-color: [[CONTRAST_DARK]] !important; }

div.species_division_buttons {
  display: flex;
  flex-wrap: wrap;
}
div.species_division_buttons a:hover {
  color: [[WHITE]];
  background-color: [[MAIN_DARK]];
}
div.species_division_buttons a.active {
  color: [[WHITE]];
  background-color: [[MAIN_DARK]];
}
.btn, .btn-large {
    text-decoration: none;
    color: [[MAIN_DARK]];
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: 1px solid [[MAIN_DARK]];
    box-sizing: border-box;
    border-radius: 6px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    outline: 0;
    padding: 0 0.6rem;
    margin: 4px;
    /*text-transform: uppercase;*/
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.taxon_selector_tree .ss-strain {
  background: [[CONTRAST_MEDIUM]];
}

.ss-autocomplete {
  background-color: [[V_LIGHT_GREY]] !important;
}

.ss-autocomplete.ui-autocomplete.ui-widget-content {
  max-height: 200px;
  overflow: auto;
}
.ss-autocomplete.ui-autocomplete .ss-ac-result.ui-state-focus {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-top: 1px solid [[PALE_GREY]] !important;
  border-bottom: 1px solid [[PALE_GREY]] !important;
}
.ss-autocomplete.ui-autocomplete.ui-menu .ui-menu-item a.ss-ac-result {
  font-weight: 100;
  color: grey;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}
/* Autocomplete highlight search letter */
.ss-ac-highlight {
  color: [[SEVERE_DARK]];
}

input.ss-alignment-selected-label {
  width: 200px;
}
.ss-alignment-container {
  display: flex;
}

div.taxon_selector .ss-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  height: 32px;
}

div.taxon_selector .ss-buttons button{
  margin-right: 16px;
  font-weight: 100;
  font-size: 14px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid [[PALE_GREY]];
  display: inline-block;
  cursor: pointer;
  color: [[V_DARK_GREY]];
  background-color: [[LIGHT_GREY]];
  padding: 4px 16px;
  text-decoration: none;
  outline: none;
  position: relative;
  overflow: hidden;
}

div.taxon_selector .ss-buttons button:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: [[WHITE]];
  border-radius: 100%;
  opacity: .5;

  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.75);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

div.taxon_selector .ss-buttons button:not(:active):after {
  animation: ripple 1s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
div.taxon_selector .ss-buttons button:after {
  visibility: hidden;
}

div.taxon_selector .ss-buttons button:focus:after {
  visibility: visible;
}

div.taxon_selector .ss-buttons button:hover {
  background-color:[[PALE_GREY]];
}
div.taxon_selector .ss-buttons button:active {
  position:relative;
  top:1px;
}

div.taxon_selector .ss-buttons button#ss-submit {
  color: [[PALE_GREY]];
  border-color: [[LIGHT_GREY]];
}

div.taxon_selector .ss-buttons button#ss-submit:hover {
  background-color: [[LIGHT_GREY]];
}

div.taxon_selector .ss-buttons button#ss-submit.active {
  border: 1px solid [[MEDIUM_GREY]];
  color: [[WHITE]];
  background-color: [[MAIN_DARK]];
}

div.taxon_selector .ss-buttons button#ss-submit.active:hover {
  background-color:[[MAIN_V_DARK]];
}

div.taxon_selector .ss-msg {
  display: flex;
  justify-content: center;
}
div.taxon_selector .ss-msg span{
  height: 50px;
  background: [[SEVERE_DARK]];
  color: [[WHITE]];
  max-width: 400px;
  font-size: 16px;
  font-weight: 100;
  display: none;
  text-align: center;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  margin: auto auto;
  border-top-right-radius: 4px;
  padding: 16px 24px;
  bottom: 0px;
  position: absolute;
}

div.taxon_selector ul.dynatree-container li {
  padding: 2px 0px;
}

div.taxon_selector span.dynatree-active a {
  border-radius: 2px;
}

div.taxon_selector_list ul li.ss-drag-active {
  box-shadow: 2px 4px 24px grey;
}
