.pointer { cursor:pointer }

#modal_bg { position: absolute; top: 0; z-index:19999; background: [[MH_BORDER]]; margin:0;border:0; padding:0; text-align: center; vertical-align: middle; top:0; left:0}
#modal_panel { text-align: left; position: absolute; background-color: [[PANEL_BG]]; margin: auto; z-index: 20000; padding:0; border: 1px solid [[CONTRAST_TEXT]]; }
#modal_title { overflow: hidden; background-color: [[PANEL_TEXT]]; margin: 0; padding: 2px; color: [[PANEL_BG]]; font-weight: bold; }
#modal_content { overflow:scroll; }

.modal_but { font-size: 0.8em; float: left; width: 80px; padding:2px; background-color:[[PANEL_BORDER]]; margin: 2px; text-align: center; font-weight: bold; color: [[CONTRAST_TEXT]]; cursor:pointer; }

#modal_close { float:right;margin:0;padding:0; width: 40px; }

/* tab bar on pop-up... */

#modal_caption dl.tabs dd a { color: #fff }
#modal_caption dl.tabs dd a:link, #modal_caption dl.tabs a:hover { color: #fff }
#modal_caption dl.tabs dd.active { background-color:#eee; }
#modal_caption dl.tabs dd.active a { color:[[PAGE_TEXT]]; }
#modal_caption dl.tabs dd.active a:link, #modal_caption dl.tabs dd.active a:hover { color:[[PAGE_HOVER]]; }

dl#local_modal {width:14em; margin:0 0.25em; position:absolute; top: 2em; left: 0;
  border:1px solid #ccc;padding:0;background-color:#fff; overflow: hidden}

dl#local_modal dt { border-bottom: 1px solid #ccc; padding: 2px; font-weight: bold }

dl#local_modal dd { margin-bottom: 0; overflow: hidden }
dl#local_modal dd.notl dl, #local_modal dd.notl { background: url(/i/line.gif) repeat-y;  }
dl#local_modal dd.notl dl { margin:0}
dl#local_modal dd.last { background: #fff url(/i/last.gif) no-repeat }
dl#local_modal dd.active, #local_modal a.active { font-weight: bold; border:1px solid #fff; color:#f00 }


dl#local_modal dd {margin-left:0;margin-bottom:0; white-space: nowrap}
dl#local_modal dd dl {border:0;padding:0 0 0 14px}
dl#local_modal dd img {height:14px;width:14px;border:0;vertical-align:top;padding-right:5px}
dl#local_modal ul {margin: 0 0 0.5em 0; border:1px solid #ccc;padding:0.2em 0 0 1.5em;background-color:#fff}
dl#local_modal ul li { margin-bottom:0; list-style-image:none; color:#933; }
dl#local_modal a {color:#369;text-decoration:none;}

