/* Feature colours - MUST BE FIRST */
span.con { background-color: [[SEQ_CONSERVATION]] }
span.res { color: [[SEQ_RESEQEUNCING]] }

/* Exon colours */
span.e0 { color: [[SEQ_EXON0]] }
span.e1 { color: [[SEQ_EXON1]] }
span.e2 { color: [[SEQ_EXON2]] }
span.eo { background-color: [[SEQ_EXONOTHER]] }
span.eg { color: [[SEQ_EXONGENE]]; font-weight: bold }

/* Codon colours */
span.c0 { background-color: [[SEQ_CODONC0]] }
span.c1 { background-color: [[SEQ_CODONC1]] }
span.cu { background-color: [[SEQ_CODONUTR]] }

/* Variation colours */
span.sn  { background-color: [[SEQ_SNP]] }       /* SNP */
span.si  { background: [[SEQ_SNPINSERT]] }       /* Insert (no line) */
span.sd  { background-color: [[SEQ_SNPDELETE]] } /* Delete */

/* Variation colours - Transcripts */
span.snt { background-color: [[SEQ_SNP_TR]] }           /* SNP */
span.sy  { background-color: [[SEQ_SYN_TR]] }           /* SYN */
span.sf  { background-color: [[SEQ_FS_TR]] }            /* Frameshift */
span.sit { background-color: [[SEQ_SNPINSERT_TR]] }     /* Insert */
span.sdt { background-color: [[SEQ_SNPDELETE_TR]] }     /* Delete */
span.snu { background-color: [[SEQ_SNP_TR_UTR]] }       /* SNP in UTR region */
span.syu { background-color: [[SEQ_SYN_TR_UTR]] }       /* SNY in UTR region */
span.siu { background-color: [[SEQ_SNPINSERT_TR_UTR]] } /* Insert in UTR region */
span.sdu { background-color: [[SEQ_SNPDELETE_TR_UTR]] } /* Delete in UTR region */
span.aa  { color: [[SEQ_AMINOACID]] }                   /* Amino acid */
