/* SNP sequence markup */   /* Feature colours - MUST BE FIRST */
.alt_allele { color: red; font-weight: bold }

.orthologues { width: 100% }

/* Feature colours - MUST BE FIRST */
span.con { background-color: [[SEQ_CONSERVATION]] }
span.dif { background-color: [[SEQ_DIFFERENCE]] }
span.res { color: [[SEQ_RESEQEUNCING]] }
span.end { color: [[SEQ_REGION_CHANGE]]; background-color: [[SEQ_REGION_CHANGE_BG]] }

/* Exon colours */
span.e0 { color: [[SEQ_EXON0]] }
span.e1 { color: [[SEQ_EXON1]] }
span.e2 { color: [[SEQ_EXON2]] }
span.eu { color: [[SEQ_EXONUTR]] }
span.ef { color: [[SEQ_EXONFLANK]] }
span.eo { background-color: [[SEQ_EXONOTHER]] }
span.eg { color: [[SEQ_EXONGENE]]; font-weight: bold }

/* Codon colours */
span.c0 { background-color: [[SEQ_CODONC0]] }
span.c1 { background-color: [[SEQ_CODONC1]] }
span.cu { background-color: [[SEQ_CODONUTR]] }
span.co { background-color: [[SEQ_CODON]] }

/* Variation colours */
span.sn   { background-color: [[SEQ_SNP]] }       /* SNP */
span.si   { background-color: [[SEQ_SNPINSERT]] } /* Insert */
span.sd   { background-color: [[SEQ_SNPDELETE]] } /* Delete */
span.var  { color: [[SEQ_MAIN_SNP]] }             /* Highlight for snp on variation page */
span.bold { font-weight: bold }

/* Variation colours - Transcripts */
span.snt { background-color: [[SEQ_SNP_TR]] }           /* SNP */
span.syn { background-color: [[SEQ_SYN]] }              /* SYN */
span.snu { background-color: [[SEQ_SNP_TR_UTR]] }       /* SNP in UTR region */
span.siu { background-color: [[SEQ_SNPINSERT_TR_UTR]] } /* Insert in UTR region */
span.sdu { background-color: [[SEQ_SNPDELETE_TR_UTR]] } /* Delete in UTR region */
span.sf  { background-color: [[SEQ_FRAMESHIFT]] }       /* Frameshift */
span.aa  { color: [[SEQ_AMINOACID]] }                   /* Amino acid */

pre.text_sequence   { margin-top: 0; float: left; }
pre.exon_sequence   { margin: 0; }
pre a.sequence_info { text-decoration: none; color: [[PAGE_TEXT]]; }
div.sequence_key    { margin: 0 0 1em 1em; }

div.alignment_list p { margin-top: 1em; }
div.alignment_list a { text-decoration: none; }

.info_popup                    { width: auto; padding: 0; }
.info_popup th, .info_popup td { padding: 2px 3px; white-space: nowrap; }
.info_popup tr.header          { background-color: [[BUTTON_BG]]; }
.info_popup tr.header th       { border-bottom: 1px solid black; color: #FFFFFF; }
.info_popup tr.header a        { color: #FFFFFF; }
.info_popup img.close          { position: absolute; top: -8px; right: -12px; cursor: pointer; }
.info_popup td.closed          { background: url(/i/closed2.gif) 100% 3px no-repeat; cursor: pointer; padding-right: 16px; }
.info_popup td.opened          { background: url(/i/open2.gif)   100% 3px no-repeat; cursor: pointer; padding-right: 16px; }
.info_popup .freq              { display: inline-block; height: 0.5em; }
.info_popup .A                 { background-color: #90EE90; }
.info_popup .T                 { background-color: #EEA2AD; }
.info_popup .C                 { background-color: #B0C4DE; }
.info_popup .G                 { background-color: #FFEC8B; }
