/**
 redbox      - red box around slice to indicate where in upper slice this slice is!
 redbox2     - red box in upper slice to indicate where lower slice is.
 rubberband  - drag region - top and right
 rubberband2 - drag region - bottom and left
**/

.redbox2, .rubberband, .rubberband2, .redbox { position:absolute; z-index: 99; }
.redbox2 img, .rubberband2 img, .rubberband img, .redbox img { height: 1px; width: 1px; }
.rubberband  { background-image: url(/i/redants.gif); }
.rubberband2 { background-image: url(/i/redants2.gif); }
.redbox      { background-image: url(/i/red.gif); }
.redbox2     { background-color: red; }

/**
 as we have to remove the href tags to get IE to work - make the whole of the slice "clickable"...
**/

.drag_select { cursor: pointer; }

.hover_label                       { position: absolute; padding: 0 0 5px 0; border: 1px solid; z-index: 999; display: none; text-align: left; width: auto; cursor: default; }
.hover_label img,
.hover_label a.favourite           { margin: 0 4px; }
.hover_label img.config,
.hover_label img.desc              { cursor: pointer; }
.hover_label a.config              { text-decoration: none; }
.hover_label a.favourite           { display: inline-block; width: 13px; height: 13px; background: url(/i/star_13.png) no-repeat top left; }
.hover_label a.favourite.selected  { background-position: bottom left; }
.hover_label p.header              { margin-bottom: 5px; padding: 2px 5px; background-color: [[BUTTON_BG]]; color: #FFF; border-bottom: 1px solid #000; }
.hover_label div                   { display: none; padding: 0 5px; }
.hover_label p                     { padding: 3px 0; margin: 0; }
.hover_label div.spinner           { width: 75px; height: 75px; }
.hover_label div.config ul,
.hover_label div.config li         { margin: 0; padding: 0; list-style: none; list-style-image: none; }
.hover_label div.config li         { line-height: 22px; }
.hover_label div.config li.current { font-weight: normal; }
.hover_label div.config a          { font-size: 11px; color: #000; }
.hover_label div.config img        { vertical-align: top; padding: 2px 0; margin-left: 0; }
.hover_label div.config img.tick   { margin: 9px 0 0 -11px; }

body.ie6 .hover_label div.config li { margin: 5px 0 0; }
body.ie67 .hover_label a.favourite  { position: relative; top: -2px; left: 3px; }

div.boundaries_wrapper                         { position: absolute; width: 100%; }
div.boundaries_wrapper ul                      { position: relative; width: 100%; list-style: none; margin: 0; padding: 0; background-color: #DAA520; visibility: hidden; }
div.boundaries_wrapper ul li                   { list-style-image: none; margin: 0; padding: 0; }
div.boundaries_wrapper ul li p                 { width: 10px; border: solid [[BUTTON_BG]]; border-width: 0 1px 0 0; position: relative; background: [[BUTTON_BG]]; }
div.boundaries_wrapper ul li p.handle          { cursor: n-resize; border-width: 1px 1px 1px 0; background: [[TINT_BG]]; }
div.boundaries_wrapper ul li p.handle:hover,
div.boundaries_wrapper ul li.tmp p.handle      { background: #B3EFBC!important; }
div.boundaries_wrapper ul li.f p.handle        { background: #9ED4DC; }
div.boundaries_wrapper ul li.r p.handle        { background: #F1D7A4; }
div.boundaries_wrapper ul li p.nohover:hover   { background: [[TINT_BG]]!important; }
div.boundaries_wrapper ul li.f p.nohover:hover { background: #9ED4DC!important; }
div.boundaries_wrapper ul li.r p.nohover:hover { background: #F1D7A4!important; }
div.boundaries_wrapper div                     { position: absolute; left: 0; height: 10px; width: 10px; border: solid [[BUTTON_BG]]; border-width: 1px 1px 1px 0; background: url(/i/sort.png) no-repeat [[BUTTON_BG]]; }
div.boundaries_wrapper div.up                  { background-position: top center; top: -10px; }
div.boundaries_wrapper div.down                { background-position: bottom center; bottom: -10px; }

body.ie7 div.boundaries_wrapper                     { left: 0; }
body.ie7 div.boundaries_wrapper ul                  { padding-top: 3px; }
body.ie7 div.boundaries_wrapper ul li               { margin: -3px 0; }
body.ie7 div.boundaries_wrapper ul.f li:first-child { margin-top: 0; }
body.ie7 div.boundaries_wrapper ul li p             { position: absolute; left: 0; }
body.mac div.boundaries_wrapper ul li p.handle      { cursor: ns-resize; }

@media print {
  div.boundaries_wrapper { display: none; }
}
