div.export-formats div {
  float: left;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
}

div.export-formats img {
  height: 150px;
  width: 200px;
  border: 1px solid [[PALE_GREY]];
}


div.export-formats div {
}

div.export-formats div.selected {
  background-color: [[MAIN_DARK]];
  color: [[WHITE]];
}
