/* TEXT STYLING AND LAYOUT */

/*----------------------------------------------------------------------
  Additional fonts 
----------------------------------------------------------------------*/
.serif        { font-family: Serif, Palatino, Times, "Times New Roman", serif; }
span.sequence { font-family: Courier New, Courier, monospace; }
.latin        { font-style: italic;                           }
.normal       { font-style: normal; font-weight: normal;      }
.small        { font-size: 80%;                               }
.bigtext      { font-size: 14px; font-weight: bold;           }
a.bigtext     { text-decoration: none;                        }

/*----------------------------------------------------------------------
  Text layout & styling
----------------------------------------------------------------------*/

.nowrap             { white-space: nowrap;    }
.left               { text-align: left;       }
.right, .more       { text-align: right;      }
.center             { text-align: center;     }
.middle             { vertical-align: middle; }
.bottom             { vertical-align: bottom; }
.autocenter_wrapper { text-align: center;     }
.autocenter         { text-align: left; margin: 0 auto; }
.bold               { font-weight: bold; }
.italic             { font-style: italic; }
.clear              { clear: both; }
.clear-left         { clear: left; }
.clear-right        { clear: right; }
.nodeco             { text-decoration: none; }
.spaced             { line-height: 20px !important; }
pre.wrap            { white-space: pre-wrap; }

/*----------------------------------------------------------------------
  Colours and backgrounds
----------------------------------------------------------------------*/

/* TO REVISIT? - NUMBERS DON'T CORRESPOND 1:1 WITH TEMPLATE ONES! */
.bg1    { background: [[PAGE_BG]];         }
.bg2    { background: [[TINT_BG]];         }
.bg3    { background: [[NEUTRAL_BG]];      }
.bg4    { background: [[CONTRAST_BG]];     }
.hilite { background: [[CONTRAST_BORDER]]; }
.red    { color: #933; }

/*----------------------------------------------------------------------
  Columns and boxes 
----------------------------------------------------------------------*/

div.column-wrapper          { overflow: hidden;             } /* wraps the columns */
div.column-two              { float: left; width:50%;       } /* actual column for 2 col layout */
div.column-three            { float: left; width:33.3333%;  } /* actual column for 3 col layout */
div.column-four             { float: left; width:25%;       } /* actual column for 4 col layout */
div.column-padding          { margin-left: 8px; margin-right: 8px; } /* inner div for columns to provide padding */

/* IE 6 & 7 hacks for above */
body.ie67 div.column-wrapper,
body.ie67 div.column-two,
body.ie67 div.column-three,
body.ie67 div.column-four,
body.ie67 div.column-padding  { zoom: 100% }

/* Old 2-column styles */

div.twocol { margin: 0 0 8px; } /* other 4px come from any <p> or <ul> inside it, and 4px from rhs padding to make it 16px */
div.twocol div.row { overflow: hidden; }
div.twocol div.row div.lhs  { float: left; width: 224px; font-weight: bold; }
div.twocol div.row div.rhs  { margin-left: 240px; padding-bottom: 4px; }
div.twocol p,
div.twocol ul,
div.twocol pre,
div.twocol table,
div.twocol form,
div.twocol div.twocol-cell { margin: 0 0 4px; }

/* Boxes */

.plain-box, .tinted-box,
.info-box,  .round-box,
.alert-box, .embedded-box { color:[[PANEL_TEXT]]; padding: 16px 16px 0; margin-bottom:16px; border-width: 1px; border-style: solid; overflow: hidden; }
.plain-box                { background-color:[[PANEL_BG]]; border-color: [[PANEL_BORDER]]; }
.shadow-box               { box-shadow: 2px 2px 4px [[PANEL_BORDER]]; }
body.ie67 .plain-box      { zoom: 100%; }

.unbordered   { border:none; padding:8px 12px 0 12px; }
.unbordered p { margin-bottom:8px; }
.tinted-box   { background-color:[[TINT_BG]]; border-color: [[TINT_BORDER]]; }
.tinted-box a       { color:[[TINT_LINK]]; }
.tinted-box a:hover { color: [[PAGE_HOVER]];   }
.info-box     { background-color:[[CONTRAST_BG]]; border-color:[[CONTRAST_BORDER]]; }
.info-box a       { color:[[CONTRAST_LINK]]; }
.info-box a:hover { color: [[PAGE_HOVER]];   }
.alert-box    { background-color:[[ALERT_BG]]; border-color:[[ALERT_BORDER]]; }
.embedded-box { margin:16px 0; padding:8px; }
.round-box    { -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; }

/* Modifications to box styles */

.centered { text-align:center; margin:0 auto; }
.float-right, .float-left { width:30%; margin: 0; padding: 16px 16px 0; }
.float-left   { float:left; margin: 0 16px 16px 0; }
.float-right  { float:right; margin: 0 0 16px 16px; }
.unpadded { margin:0 1%; padding:0; }
.half-padded { padding:8px 8px 0; }
.noclear { clear:none; }


/* Rounded boxes used in static content */
table.blobs { border-spacing: 16px 0; margin: 0 -16px 16px; }
table.blobs td { padding:10px; border-width:1px; border-style:solid; border-color:#ccc; border-radius:16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }
table.blobs td.twocol   { width:50%;  }
table.blobs td.fourcol  { width:25%;  }


/************************************
          non-standard lists
*************************************/

ul.compact                      { margin: 0px; padding: 0 0 0 16px; }
ul.compact, ul.compact li       { list-style-image: none; }
ul.compact li                   { margin: 1px; }
ul.no-bullet, ul.no-bullet li   { list-style-image: none; list-style: none; }

/*----------------------------------------------------------------------
  Code examples
----------------------------------------------------------------------*/

code { font: 1em andale mono, sans-serif; font-weight: bold; }

.code     { border: 1px solid [[NEUTRAL_BORDER]]; background: [[NEUTRAL_BG]]; padding: 8px !important; }

.code pre { margin: 0.5em 0 1.5em 0; font: 0.8em andale mono, sans-serif; color: [[CONTRAST_BG]] }
.code pre:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.code pre { display: inline-block; }

kbd.line { display:block; margin-left:20px; }

/*----------------------------------------------------------------------
  References, footnotes, etc
----------------------------------------------------------------------*/

.ref-author { font-weight:bold; }
.ref-pub { font-style:italic; }

/* for arrows and other non-text links */
a.notext { text-decoration:none; }
/* footnote */
a.fn-link { vertical-align:super; font-size:0.7em; text-decoration:none; }
div.footnotes { margin-top:2em; }
div.footnotes ol li { font-size:0.9em; }

