/* DYNAMIC IMAGES (REGION IN DETAIL, ETC) AND CONTROL PANEL */

/* General */

div.image_container { position: relative; border: 1px solid #999999; margin-bottom: 16px; }
div.image-caption   { background-color: [[BUTTON_BG]]; color: [[BUTTON_TEXT]]; font-weight: bold; line-height: 16px; padding: 4px; }

body.ie6 div.image_container { background-color: [[BUTTON_BG]]; }

/* Navigation within image */

/** redbox      - red box around slice to indicate where in upper slice this slice is!
 redbox2     - red box in upper slice to indicate where lower slice is.
 rubberband  - drag region - top and right
 rubberband2 - drag region - bottom and left
**/

.redbox2,.rubberband, .rubberband2, .redbox                  { position:absolute; z-index: 99; }
.redbox2 img, .rubberband2 img, .rubberband img, .redbox img { height: 1px; width: 1px; }
.rubberband  { background-image: url(/i/redants.gif); }
.rubberband2 { background-image: url(/i/redants2.gif); }
.redbox      { background-image: url(/i/red.gif); }
.redbox2     { background-color: red; }

/**
 as we have to remove the href tags to get IE to work - make the whole of the slice "clickable"...**/

.drag_select { cursor: pointer; position: relative; }

.hover_label                              { position: absolute; padding: 0 0 5px 0; border: 1px solid; z-index: 999; display: none; text-align: left; width: auto; cursor: default; }
.hover_label img,
.hover_label a.favourite                  { margin: 0 4px; }
.hover_label a.favourite                  { display: inline-block; width: 16px; height: 16px; background: url(/i/16/swp/star.png) no-repeat 0 0; }
.hover_label img.config,
.hover_label img.url,
.hover_label img.desc                     { cursor: pointer; }
.hover_label a.config                     { text-decoration: none; }
.hover_label a.favourite:hover            { background-position: 0 -18px; }
.hover_label a.favourite.selected         { background-position: 0 -36px; }
.hover_label p.header                     { margin-bottom: 5px; padding: 2px 5px; background-color: [[BUTTON_BG]]; color: #FFF; }
.hover_label div                          { display: none; padding: 0 5px; }
.hover_label p                            { padding: 3px 0; margin: 0; }
.hover_label div.config ul,
.hover_label div.config li                { margin: 0; padding: 0; list-style: none; list-style-image: none; }
.hover_label div.config li                { line-height: 22px; }
.hover_label div.config li.current        { font-weight: normal; }
.hover_label div.config a                 { font-size: 11px; color: #000; }
.hover_label div.config li.subset a       { color: [[PAGE_LINK]]; }
.hover_label div.config li.subset a:hover { color: [[PAGE_HOVER]]; }
.hover_label div.config img               { vertical-align: top; padding: 2px 0; margin-left: 0; }
.hover_label div.config img.tick          { margin: 9px 0 0 -11px; }

body.ie6 .hover_label div.config li { margin: 5px 0 0; }
body.ie67 .hover_label a.favourite  { position: relative; top: -2px; left: 3px; }

div.boundaries_wrapper                         { position: absolute; width: 100%; }
div.boundaries_wrapper ul                      { position: relative; width: 100%; list-style: none; margin: 0; padding: 0; background-color: #DAA520; visibility: hidden; }
div.boundaries_wrapper ul li                   { list-style-image: none; margin: 0; padding: 0; }
div.boundaries_wrapper ul li p                 { width: 10px; border: solid [[BUTTON_BG]]; border-width: 0 1px 0 0; position: relative; background: [[BUTTON_BG]]; margin: 0; }
div.boundaries_wrapper ul li p.handle          { cursor: n-resize; border-width: 1px 1px 1px 0; background: [[TINT_BG]]; }
div.boundaries_wrapper ul li p.handle:hover,
div.boundaries_wrapper ul li.tmp p.handle      { background: #B3EFBC!important; }
div.boundaries_wrapper ul li.f p.handle        { background: #9ED4DC; }
div.boundaries_wrapper ul li.r p.handle        { background: #F1D7A4; }
div.boundaries_wrapper ul li p.nohover:hover   { background: [[TINT_BG]]!important; }
div.boundaries_wrapper ul li.f p.nohover:hover { background: #9ED4DC!important; }
div.boundaries_wrapper ul li.r p.nohover:hover { background: #F1D7A4!important; }
div.boundaries_wrapper div                     { position: absolute; left: 0; height: 10px; width: 10px; border: solid [[BUTTON_BG]]; border-width: 1px 1px 1px 0; background: url(/i/sort.png) no-repeat [[BUTTON_BG]]; }
div.boundaries_wrapper div.up                  { background-position: top center; top: -10px; }
div.boundaries_wrapper div.down                { background-position: bottom center; bottom: -10px; }

body.ie7 div.boundaries_wrapper                     { left: 0; }
body.ie7 div.boundaries_wrapper ul                  { padding-top: 3px; }
body.ie7 div.boundaries_wrapper ul li               { margin: -3px 0; }
body.ie7 div.boundaries_wrapper ul.f li:first-child { margin-top: 0; }
body.ie7 div.boundaries_wrapper ul li p             { position: absolute; left: 0; }
body.mac div.boundaries_wrapper ul li p.handle      { cursor: ns-resize; }

@media print {
  div.boundaries_wrapper { display: none; }
}

/* Icon toolbar for dynamic images */

div.image_toolbar        { background-color: [[BUTTON_BG]]; color: #FFFFFF; height: 16px; padding: 4px 0; }
div.image_toolbar.top    { border-bottom: 1px solid #999999; }
div.image_toolbar.bottom { border-top: 1px solid #999999; }
div.image_toolbar a      { float: left; width: 16px; height: 16px; display: block; margin: 0 4px 2px 4px; }

div.image_toolbar a.config { background-image: url(/i/16/rev/setting.png);   }
div.image_toolbar a.data   { background-image: url(/i/16/rev/page-user.png); }
div.image_toolbar a.export { background-image: url(/i/16/rev/picture.png);   }

/* Below is the image export CSS code */

div.iexport_menu             { z-index: 1000; border-top: 1px solid [[TINT_BORDER]]; position: absolute; cursor: pointer; display: none; width: 120px;  }
div.iexport_menu div         { border: 1px solid #999999; border-top: 0; font-size: 12px; line-height: 16px; background-color: [[TINT_BG]]; color: [[CONTRAST_TEXT]]; text-align: left; padding: 0 4px; }
div.iexport_menu div.header  { background-color: [[TABLE_HEADER]]; color: #FFFFFF; font-weight: bold; }
div.iexport_menu div div     { display: inline-block; border: none; background: none; margin: 0; padding: 0; width: 60px; }
div.iexport_menu div a       { position: absolute; right: 6px; text-decoration: none; font-weight: bold; }
div.iexport_menu div a.view  { right: 26px; margin: 0; float: none; }
div.iexport_menu div a img   { float: none; margin: 0; }

body.ie67 div.iexport_menu a { margin-top: -16px; }

/* Styles for sprite mouseovers */
a.icon_link                   { text-decoration: none; }
div.icon                      { padding: 4px 8px 4px 0; }
.sprite,
.sprite_disabled              { display: inline-block; height: 16px; width: 16px; background: no-repeat 0 0; cursor: pointer; }
.sprite:hover                 { background-position: 0 -18px; }
.sprite_disabled,
.sprite_disabled.sprite:hover { background-position: 0 -36px; cursor: default; }
span.sprite                   { float: left; width: 16px; margin: 2px 4px 0 4px; }
.sprites-nowrap               { white-space: nowrap; }
.sprites-nowrap .sprite       { float:none; }


/* Note that these names include the word 'icon' to distinguish them from classes associated with actions */
.fave_icon     { background-image: url(/i/16/swp/star.png);     }
.info_icon     { background-image: url(/i/16/swp/info.png);     }
.save_icon     { background-image: url(/i/16/swp/save.png);     }
.delete_icon   { background-image: url(/i/16/swp/trash.png);    }
.share_icon    { background-image: url(/i/16/swp/share.png);    }
.download_icon { background-image: url(/i/16/swp/download.png); }
.add_icon      { background-image: url(/i/16/swp/add.png);      }
.edit_icon     { background-image: url(/i/16/swp/pencil.png);   }
.use_icon      { background-image: url(/i/16/swp/check.png);    }
.stop_icon     { background-image: url(/i/16/swp/stop.png);     }
.bookmark_icon { background-image: url(/i/16/swp/bookmark.png); }

