h2.config_header { margin:4px 0; }
dl.config_menu { margin: 0; }
dl.config_menu dt { margin: 0; font-weight: normal; clear: both; }
dl.config_menu dt.title { margin: 0; font-weight: bold; }
dl.config_menu dd { margin: 5px 0; padding: 5px 10px; display: none; 
  background-color:[[TINT_BG]]; border:1px solid #ccc; }
dl.config_menu dt img { height: 17px; width: 17px; margin: 0; padding: 2px; vertical-align: top; }
dl.config_menu dt select { margin: 0; border:0; font-size: 80%; }
dl.config_menu dt .menu_help {  margin: 2px 4px 2px 0px; cursor: pointer; }
dl.config_menu dt .menu_nohelp {  margin: 2px 4px 2px 0px; }
dl.config_menu dt .menu_option { cursor: pointer; vertical-align:middle; }

ul.popup_menu { border: 1px solid #666; background-color: #eee; margin: 13px 0 0 11px; padding: 0; border-bottom: 0; color: black; position :absolute; z-index: 1000000; display: none; cursor: pointer; }
ul.popup_menu li { padding: 0 0.5em 0 0; border-bottom: 1px solid #666; font-weight: bold; list-style: none; list-style-image: none; margin-bottom: 0; }
ul.popup_menu li img { padding: 2px; }

dl.config_menu dt.das_menu_entry { font-weight: bold; }

div.configuration_search { text-align: right; }

div.config dt.external { font-size: 1.1em; font-weight: bold; color: [[CONTRAST_HEADER]];  margin: 10px 0 5px; }
div.config dl.submenu { margin-top: 10px; }
