dl.config_menu { margin: 0 }
dl.config_menu dt { margin: 0; font-weight: normal }
dl.config_menu dt.title { margin: 0; font-weight: bold }
dl.config_menu .col1 { background-color: [[IMAGE_BG1]] }
dl.config_menu .col2 { background-color: [[IMAGE_BG2]] }
dl.config_menu dd { margin: 0; padding-left: 2em;}
dl.config_menu dt img { height: 17px; width: 17px; margin: 0; padding: 2px; vertical-align: top  }
dl.config_menu dt select { margin: 0; border:0; font-size: 80% }
dl.config_menu dt .menu_help { background-color: #fcc; font-size: 80%; padding: 0 0.5em; margin: 2px 0.5em }
dl.config_menu dd .menu_help { background-color: #fcc; font-size: 80%; padding: 0 0.5em; margin: 2px 0.5em }

dl.popup_menu { border: 1px solid #666; background-color: #eee; margin: 13px 0 0 11px; padding: 0; border-bottom: 0; color: black; position :absolute; z-index: 1000000; }
dl.popup_menu dt { padding: 0 0.5em 0 0; border-bottom: 1px solid #666; font-weight: bold }
dl.popup_menu dt img { padding: 2px }

dl.config_menu dt.das_menu_entry { font-weight: bold }
dl.config_menu img { cursor: pointer }
dl#local_modal .fake_link { color:[[PAGE_LINK]]; cursor: pointer }

.configuration_search { text-align: right }

