div.config_wrapper                       { border-left: 1px solid [[PANEL_BORDER]]; }
div.config_wrapper div.panel div.content { padding: 0 }

body.ie6 div.config_wrapper              { border: 0 }

div.modal_content div.configuration_search             { position: relative; float: right; top: 5px; }
div.modal_content div.configuration_search img         { position: absolute; top: 2px; border: 1px solid; padding: 2px 3px; right: 3px; background: #FFF; }
div.modal_content div.configuration_search input       { color: #999999; border: 1px solid #000; padding: 2px 3px; position: relative; right: 3px; width: 170px; }
div.modal_content div.configuration_search input:hover { background: [[CONTRAST_BG]]; }

div.modal_content div.species_select        { font-weight: bold; margin: 2px 0; padding: 0 10px; border-bottom: 1px solid [[PANEL_BORDER]]; }
div.modal_content div.species_select select { display: block; width: 100%; margin-bottom: 5px; }

/* configuration form */

form.configuration div,
form.configuration h2                                               { -webkit-margin-collapse: collapse; }
form.configuration h1                                               { border-bottom: 1px solid [[PANEL_BORDER]]; display: none; padding: 2px; margin: 4px 0 6px; }
form.configuration h1,
form.configuration div.config h2                                    { cursor: pointer; font-size: 20px; }
form.configuration div.config h2                                    { margin: 4px 0 9px; }
form.configuration div.config h3                                    { margin: 10px 0 5px; color: [[PAGE_TEXT]]; text-decoration: underline; font-size: 14px; padding: 2px 5px; }
form.configuration div.config h4                                    { margin: 10px 0 5px 5px; color: [[PAGE_TEXT]]; }
form.configuration div.config img                                   { height: 17px; width: 17px; margin-right: 4px; padding: 2px; vertical-align: top; }
form.configuration div.config div.select_all                        { margin: 10px 0 5px; padding: 2px 0; }
form.configuration div.config div.select_all strong                 { text-decoration: underline; font-size: 14px; padding: 2px 5px; }
form.configuration div.config div.select_all ul.popup_menu          { margin: 18px 0 0 0; }
form.configuration div.config .menu_option                          { cursor: pointer; vertical-align: middle; }
form.configuration div.config ul.config_menu                        { margin: 0; padding: 0; list-style: none; }
form.configuration div.config ul.config_menu li                     { margin: 0; padding: 0; list-style-image: none; font-weight: normal; clear: right; background-color: #FFF; }
form.configuration div.config ul.config_menu li.track               { cursor: pointer; }
form.configuration div.config ul.config_menu li div.desc            { margin: 5px 0 5px 25px; padding: 5px 10px; display: none; background-color: [[TINT_BG]]; border: 1px solid [[PANEL_BORDER]]; }
form.configuration div.config ul.config_menu li .controls           { float: right; margin: 2px -5px 0; height: 17px; }
form.configuration div.config ul.config_menu li .controls div       { height: 100%; width: 17px; float: left; margin-right: 7px; }
form.configuration div.config ul.config_menu li .controls .empty    { cursor: default; }
form.configuration div.config ul.config_menu li .menu_help          { background: url(/i/info_toggle.png) no-repeat top left; }
form.configuration div.config ul.config_menu li .menu_help.open     { background-position: bottom left; }
form.configuration div.config ul.config_menu li .favourite          { background: url(/i/star.png) no-repeat top left; }
form.configuration div.config ul.config_menu li.fav .favourite      { background-position: left bottom; }
form.configuration div.config ul.config_menu                        { margin-left: 5px; }
form.configuration div.config ul.config_menu li .strand             { background: url(/i/strand.png) no-repeat left top; cursor: default!important; }
form.configuration div.config ul.config_menu li.r .strand           { background-position: bottom left; }
form.configuration div.config ul.popup_menu                         { position: absolute; display: none; margin: 13px 0 0 11px; padding: 0; z-index: 3000; border: 1px solid; cursor: pointer; }
form.configuration div.config ul.popup_menu li                      { background-color: [[TINT_BG]]!important; color: #000; padding: 1px 6px 1px 0; margin: 0; font-weight: bold; list-style: none; list-style-image: none; }
form.configuration div.config ul.popup_menu li.header               { background-color: [[BUTTON_BG]]!important; color: #FFF; text-align: center; padding: 2px 10px; border-bottom: 1px solid [[PAGE_TEXT]]; }
form.configuration div.config ul.popup_menu li.header img           { position: absolute; top: -10px; right: -10px; border: 0; padding: 0; height: 20px; width: 20px; margin: 0; }
form.configuration div.config ul.popup_menu li img.tick             { margin: 9px 0 0 -11px!important; padding: 2px 0; margin-left: 0; height: 11px; width: 11px; }
form.configuration div.config ul.popup_menu li span                 { margin-left: 3px; }
form.configuration div.config ul.popup_menu li span.current         { font-weight: normal; cursor: default; font-size: 0.9em; position: relative; top: 3px; }
form.configuration div.config div.subset.first,
form.configuration div.config div.subset.active                     { margin-top: -5px; }
form.configuration div.config div.subset.active h4                  { display: block; margin-top: 10px; }
form.configuration div.config div.select_all strong:hover,
form.configuration div.config li.track:hover,
form.configuration div.track_order ul.config_menu li:hover,
form.configuration div.config ul.popup_menu li:hover                { background-color: [[CONFIG_HOVER]]; }
form.configuration div.config li.track:hover div.desc               { background-color: [[CONFIG_HOVER]]; border-color: [[CONFIG_HOVER]]; }
form.configuration div.favourite_tracks img                         { vertical-align: top; }
form.configuration div.track_order span.menu_option                 { cursor: n-resize; }
form.configuration div.view_config fieldset                         { padding: 0; }
form.configuration div.view_config fieldset div.form-field          { padding: 0 5px; }
form.configuration div.view_config fieldset div.fnotes              { padding: 6px 5px; }

form.configuration.single div.config ul.config_menu li.hidden       { display: none!important; }

form.export div.view_config h2,
form.configuration.multi div.config h2                              { font-size: 15px; margin: 6px 0 2px; border-bottom-width: 0; color: [[MENU_LINK]]; }
form.export div.view_config h2                                      { border-bottom-width: 1px; }
form.configuration.multi div.config h3,
form.configuration.multi div.config h4,
form.configuration.multi div.config div.select_all                  { display: none!important; }
form.configuration.multi div.config ul.config_menu ul.config_menu   { margin-left: 0!important; }
form.configuration.multi div.favourite_tracks                       { margin-bottom: 0; }
form.configuration.multi div.favourite_tracks img                   { margin: 0; padding: 0; width: auto; height: auto; }
form.configuration.multi div.config div.subset.first,
form.configuration.multi div.config div.subset.active               { margin-top: 0; }

body.ie6 form.configuration div.config ul.config_menu li            { height: 21px; }
body.ie6 form.configuration div.config ul.popup_menu li             { height: auto; }
body.ie6 form.configuration div.config ul.popup_menu li img         { margin: 2px; }
body.ie6 form.configuration div.config div.select_all               { margin-bottom: 4px; }
body.ie6 form.configuration div.config ul.config_menu li .controls  { margin-top: -16px; }
body.ie7 form.configuration div.config ul.config_menu li .controls  { margin-top: -18px; }
body.mac div.track_order span.menu_option                           { cursor: ns-resize; }

/* image config notes */

div.image_config_notes                               { padding: 4px; }
div.image_config_notes .border                       { border-top: 1px solid [[PANEL_BORDER]]; border-bottom: 0; padding-top: 10px; }
div.image_config_notes .content div                  { float: left; margin-right: 32px; }
div.image_config_notes ul.configuration_key          { list-style: none; padding: 0; margin-left: 4px; }
div.image_config_notes ul.configuration_key li       { list-style-image: none; }
div.image_config_notes ul.configuration_key li span  { vertical-align: middle; padding: 1px; margin-left: 4px; }
div.image_config_notes ul.configuration_key li img   { vertical-align: middle; padding: 1px; }
div.image_config_notes h2                            { margin: 4px 0; }
div.image_config_notes h4                            { margin: 4px 0; padding-top: 4px; }
div.image_config_notes h4,
div.image_config_notes p                             { clear: both; padding-left: 3px; }

/* save as popup */

div#config_save_as_bg         { top: -20px; left: 0; width: 100%; height: 100%; padding: 20px 2px 0 0; background-color: [[MH_BORDER]]; z-index: 10000; opacity: 0.5; filter: Alpha(Opacity=50); }
div#config_save_as_bg,
div.config_save_as            { display: none; position: absolute; }
div.config_save_as            { top: 50%; left: 50%; z-index: 10001; background-color: #FFF; width: 400px; margin-left: -200px; padding: 10px; border: 2px solid #000; }
div.config_save_as h1         { display: block!important; margin: 0 0 5px; }
div.config_save_as label      { display: block; font-weight: bold; margin: 10px 0 3px; }
div.config_save_as span       { padding-right: 30px; }
div.config_save_as span input { position: relative; top: 2px; }
div.config_save_as .desc,
div.config_save_as .name      { width: 395px; margin-top: 3px; }
div.config_save_as .desc      { height: 105px; }
div.config_save_as .fbutton   { width: 100%; margin-bottom: 0; cursor: pointer; }
div.config_save_as .disabled  { background-color: #999; border-color: #999; cursor: default; }
div.config_save_as .close     { position: absolute; top: -10px; right: -10px; cursor: pointer; }
