dl.config_menu { margin: 0; }
dl.config_menu dt { margin: 0; font-weight: normal; clear: both; }
dl.config_menu dt.title { margin: 0; font-weight: bold; }
dl.config_menu .col1 { background-color: [[IMAGE_BG1]]; }
dl.config_menu .col2 { background-color: [[IMAGE_BG2]]; }
dl.config_menu dd { margin: 0; padding-left: 2em; display: none; }
dl.config_menu dt img { height: 17px; width: 17px; margin: 0; padding: 2px; vertical-align: top; }
dl.config_menu dt select { margin: 0; border:0; font-size: 80%; }
dl.config_menu dt .menu_help { background-color: #E6E6FA; border: 1px outset [[TINT_BORDER]]; font-size: 80%; padding: 0 0.5em; margin: 2px 0.5em; cursor: pointer; float: right; width: 7em; text-align: center; }
dl.config_menu dt .menu_option { cursor: pointer; }

ul.popup_menu { border: 1px solid #666; background-color: #eee; margin: 13px 0 0 11px; padding: 0; border-bottom: 0; color: black; position :absolute; z-index: 1000000; display: none; cursor: pointer; }
ul.popup_menu li { padding: 0 0.5em 0 0; border-bottom: 1px solid #666; font-weight: bold; list-style: none; list-style-image: none; margin-bottom: 0; }
ul.popup_menu li img { padding: 2px; }

dl.config_menu dt.das_menu_entry { font-weight: bold; }

div.configuration_search { text-align: right; }

div.config dt.external { font-size: 1.1em; font-weight: bold; color: [[CONTRAST_HEADER]];  margin: 10px 0 5px; }
div.config dl.submenu { margin-top: 10px; }
