/***********************************************************************
**
** Generic styles.
**
***********************************************************************/

body.static li { line-height: 16px; padding: 0; margin: 8px 0; list-style: disc; }

body.static pre { line-height: 16px; margin: 0 0 16px; }

body.static dl  { margin: 0 0 16px; }

body.static dl.twocol dt  { width: 284px; float: left; clear: left; margin-bottom: -100px; padding: 0 16px 0 0; }
body.static dl.twocol dd  { padding-left: 300px; line-height: 16px; margin: 0; }

body.static dl.striped     { border: [[NEUTRAL_BORDER]] solid 1px; }
body.static dl.striped dt  { padding: 8px; }
body.static dl.striped dd  { padding: 8px 8px 8px 300px; }
body.static dl.striped dd p { margin: 0; }

body.static h1     { color: [[PAGE_HEADER]];  }
body.static h2     { color: [[CONTRAST_HEADER]]; }
body.static h3     { color: [[CONTRAST_HEADER]]; }
body.static h4     { color: [[CONTRAST_HEADER]]; }

body.static form   { margin-bottom:16px; }

/*----------------------------------------------------------------------
  References, footnotes, etc
----------------------------------------------------------------------*/

.ref-author { font-weight:bold; }
.ref-pub { font-style:italic; }

/* for arrows and other non-text links */
a.notext { text-decoration:none; }
/* footnote */
a.fn-link { vertical-align:super; font-size:0.7em; text-decoration:none; } 
div.footnotes { margin-top:2em; }
div.footnotes ol li { font-size:0.9em; }

/*----------------------------------------------------------------------
  Code examples
----------------------------------------------------------------------*/

code { font: 1em andale mono, sans-serif; font-weight: bold; }

.code     { border: 1px solid [[NEUTRAL_BORDER]]; background: [[NEUTRAL_BG]]; padding: 8px !important; }

.code pre { margin: 0.5em 0 1.5em 0; font: 0.8em andale mono, sans-serif; color: [[CONTRAST_BG]] }
.code pre:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.code pre { display: inline-block; }

kbd.line { display:block; margin-left:20px; }

/***********************************************************************
**
** Page specific styles
**
***********************************************************************/

/*----------------------------------------------------------------------
  Ensembl homepage
----------------------------------------------------------------------*/

/* Species thumbnail images */

/* DEPRECATED - use "div.species-box img" */
.sp-thumb { float:left; margin-right:4px; clear:left; border-width:1px; border-style:solid; border-color:#ccc;
  border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}

div.species-news p.headline { margin:0; padding:4px 0; font-size:110%; min-height:40px; }

ul#favourites_list li, ul#species_list li { cursor:move; }

div.species-list div.species-box    { width: 50%; float: left; /* min-width: 250px; */ }
div.species-list div.species-box span { font-size: 80%; padding-top: 4px; display: block; }
div.species-list div.species-box a    { text-decoration: none; font-weight: bold; }
div.species-list div.species-box a span  { font-size: 108%; display: inline-block; }
p.customise-species-list            { clear: both; }

/*----------------------------------------------------------------------
species page
----------------------------------------------------------------------*/
div.species-box     { margin: 0 0 16px; overflow: hidden; }
div.species-box img { float: left; height: 48px; margin-right: 8px; width: 48px; border: [[PANEL_BORDER]] solid 1px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }

/*----------------------------------------------------------------------
  Species homepages
----------------------------------------------------------------------*/

table.species-stats td.data {  font-weight:bold; width:25%; }
table.species-stats td.value { text-align:left; }

img.species-entry { float:left; margin-right:4px; clear:left; }

table.img-table { width: 80%;margin: auto; border-collapse: collapse }
table.img-table th { background-color: [[NEUTRAL_BORDER]]; color: [[NEUTRAL_BG]] }
table.img-table td { vertical-align: top }
table.img-table .img-1 td { background-color: [[IMAGE_BG1]] }
table.img-table .img-2 td { background-color: [[IMAGE_BG2]] }

ul.breadcrumbs                   { position: relative; left: 0; margin: -13px 0 16px !important; padding: 0 0 0 1em; height: 20px; border: 1px solid [[PANEL_BORDER]]; border-width: 1px 0; font-weight: bold; overflow: hidden; }
ul.breadcrumbs li                { float: left; list-style: none; margin:0 8px 0 0; padding: 0 16px 0 0; font-size: 0.9em; line-height: 1.8em; height: 100%; background: url(/i/chevron.gif) no-repeat right 50%; }
ul.breadcrumbs li.last           { background-image: none; }
ul.breadcrumbs li a              { text-decoration: none; outline: none; }
ul.breadcrumbs li a:hover        { color: [[MH_HOVER]]; }
ul.breadcrumbs li a.home         { background: url(/i/home.png) no-repeat left 0; width: 10px; height: 10px; display: block; text-indent: -20em; position:relative; top: 5px; }
ul.breadcrumbs li a.home:visited { background-position: left -15px; }
ul.breadcrumbs li a.home:hover   { background-position: left -30px; }

body.ie6 ul.breadcrumbs          { height: 22px; }

#pdoc_iframe,
iframe#doxygen { border: #ccc 1px solid; }

/*----------------------------------------------------------------------
search-form on home page and species home page
----------------------------------------------------------------------*/
form.search-form div.form-field { margin: 0; }

form.search-form          label.ff-label { line-height: 22px; font-weight: normal; width: auto; }
form.homepage-search-form label.ff-label { line-height: 20px; }

form.search-form          div.ff-right,
form.search-form          div.ff-notes { padding-left: 72px; }
form.search-form          div.ff-notes p.search-example { margin: 0; }
form.homepage-search-form div.ff-right,
form.homepage-search-form div.ff-notes { padding-left: 50px; text-align: left; }
form.homepage-search-form div.ff-notes p.search-example { margin: 0 0 16px; }

form.homepage-search-form fieldset { display: inline; }

form.homepage-search-form .input { width: 180px !important; }
form.homepage-search-form span.inp-group { white-space: nowrap; }

form.search-form input.ftext { padding: 2px 0; }
form.search-form div.ff-right label { margin-right: 6px; margin-left: 0; line-height: 20px; }
form.search-form div.ff-right .submit { margin-top: 9px; }
form.search-form div.ff-notes a { font-weight: bold; text-decoration: none; }
form.homepage-search-form { text-align: center; margin: 0 !important; }

/* did you know column on home page */
div.new-to-ensembl p      { background: url("/i/e-quest.gif") no-repeat scroll left -2px transparent; padding-left: 32px; }
div.new-to-ensembl p a    { font-weight: bold; font-size: 108%; }
div.new-to-ensembl p span { display: block; }
div.did-you-know          { padding: 16px; }
div.did-you-know p        { margin: 0; }

/*-----------------------------------------------------------------------
contact link on help and faq page 
-------------------------------------------------------------------------*/

div.help-contact img { padding-top: 0; height: 42px; width: 45px; }
div.help-contact p   { padding: 0; line-height: 42px; }

/*-----------------------------------------------------------------------
floating archive box on help page
-------------------------------------------------------------------------*/
.archive-box { min-width: 400px; }
