.survey-box {
  background-color: [[MAIN_V_DARK]];
  text-align: center;
  padding: 12px 18px 4px 18px;
  border-radius:8px;
  -moz-border-radius: 8px;
}

.survey-box p {
  color: [[WHITE]];
}

.survey-box a {
  font-weight: bold;
  color: [[WHITE]];
}

.survey-box p.survey-button {
  margin: 12px 0 24px 0;
}

.survey-box p.survey-button a {
  background-color: [[MAIN_DARK]];
  text-decoration:none;
  padding: 4px 8px;
  border-radius:4px;
  -moz-border-radius: 4px;
}

