.survey-box {
  background-color: [[MAIN_V_DARK]];
  text-align: center;
  padding: 12px 18px 4px 18px;
  border-radius:8px;
  -moz-border-radius: 8px;
}

.survey-box p {
  color: [[WHITE]];
}

.survey-box a {
  font-weight: bold;
  color: [[WHITE]];
}

.survey-box p.survey-button {
  margin: 12px 0 24px 0;
}

.survey-box p.survey-button a {
  background-color: [[MAIN_DARK]];
  text-decoration:none;
  padding: 4px 8px;
  border-radius:4px;
  -moz-border-radius: 4px;
}

// Styling used by Rapid Release box
div.blob  { margin: 10px 0px;  border-width:1px; border-style:solid; border-color:[[PALE_GREY]]; border-radius:16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }
div.blob h2   { color:[[WHITE]] !important; background: [[MAIN_DARK]]; padding:10px 16px 8px 16px; border-radius: 16px 16px 0px 0px; }
div.blob p { padding: 0px 16px; }
