/* ALTERNATIVE STYLES FOR PHONES AND TABLETS */

/* Note that the aim of this stylesheet is to enable basic functionality 
on mobile devices, not to replicate all functionality on an unsuitable platform.
Hence we hide a lot of navigation, and rely on inline links to guide the visitor 
towards interesting content. */

/* BASIC RESPONSIVE DESIGN, for all small viewports including netbooks */

@media all and (max-width: 767px) {


  #min_width_container { min-width:320px; }

  div.column-two,
  div.column-three,
  div.column-four { width:100%; }

  div.column-first { float:none; }
  div.column-next  { float:none; }

  div.column-left,
  div.column-middle,
  div.column-right { margin-left: 0; margin-right: 0; }

  div.box-left  { width:100%; float:none; margin-left: 0; margin-right: 0; }
  div.box-right { width:100%; float:none; margin-left: 0; margin-right: 0; }


}

/* SMALL MOBILE DEVICES - remove extraneous navigation */

@media all and (max-width:600px) {

  body {
    -webkit-text-size-adjust: 100%; // Prevents Mobile Safari from bumping up font sizes in landscape
  }

  .mobile-only              { display:inline-block; }

  #masthead                 { height: 55px; }
  #masthead ul.tabs         { display: none; }
  #masthead .logo_holder    { top: 2px; }
  #masthead .account_holder { display: none; }
  #masthead .search_holder  { top: 12px; }
  #masthead #searchPanel    { display: none; }
  .mobile-search            { margin-right:4px; }
  #masthead .tools_holder   { display: none; }
  .logo-header              { background-image:url(/i/[[MOBILE_LOGO]])!important;  
                              width:[[MOBILE_LOGO_WIDTH]]px!important;
                               height:[[MOBILE_LOGO_HEIGHT]]px!important; }
  .species-header           { font-size:150%; font-weight:bold; font-style:italic;
                              color:[[SITE_LOGO_COLOUR]]; 
                              vertical-align:top; margin:16px 0 0 0; }
  .species-badge            { display: none; }

  .nav                      { display: none; }
  #main, #widemain          { margin-left: 0; }
  #footer                   { margin-left: 1em; }

  div.twocol div.row div.lhs { float: none; }
  div.twocol div.row div.rhs { margin-left: 0; }

  div.hint                    { display:none; }
  div.image_toolbar           { display:none; }
  .modal_content .modal_nav   { display: none; }
  #modal_panel .fixed_width .modal_wrapper .panel { margin-left: 0; }

}

