/***********************************************************************
**
** Generic styles.
**
***********************************************************************/

/*----------------------------------------------------------------------
  References, footnotes, etc
----------------------------------------------------------------------*/

.ref-author { font-weight:bold; }
.ref-pub { font-style:italic; }

/* for arrows and other non-text links */
a.notext { text-decoration:none; }
/* footnote */
a.fn-link { vertical-align:super; font-size:0.7em; text-decoration:none; } 
div.footnotes { margin-top:2em; }
div.footnotes ol li { font-size:0.9em; }

/*----------------------------------------------------------------------
  Code examples
----------------------------------------------------------------------*/

code { font: 1em andale mono, sans-serif; font-weight: bold; }

.code     { border: 1px solid [[NEUTRAL_BORDER]]; background: [[NEUTRAL_BG]]; margin: 1em 1em 0.2em 1em; padding: 0.2em 0.5em; }

.code pre { margin: 0.5em 0 1.5em 0; font: 0.8em andale mono, sans-serif; color: [[CONTRAST_BG]] }
.code pre:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.code pre { display: inline-block; }

kbd.line { display:block; margin-left:20px; }

/***********************************************************************
**
** Page specific styles
**
***********************************************************************/

/*----------------------------------------------------------------------
  Ensembl homepage
----------------------------------------------------------------------*/

/* Species thumbnail images*/

.sp-thumb { float:left; margin-right:4px; clear:left; }

/* Species list */
dl.species-list dt { margin:0; padding:0; min-height:15px;   font-size:120%; font-style:italic; font-weight:bold; }
dl.species-list dd { margin:-2px 0 2px 0; padding:0; min-height:40px; }
dl.species-list dt a, dl.species-list dd a { text-decoration:none; }

div.species-news p.headline { margin:0; padding:4px 0; font-size:110%; min-height:40px; }

ul#favourites_list li, ul#species_list li { cursor:move; }

/*----------------------------------------------------------------------
  Species homepages
----------------------------------------------------------------------*/

table.species-stats {          width:100%;       }
table.species-stats td {       padding:4px 0;    }
table.species-stats td.data {  font-weight:bold; }
table.species-stats td.value { text-align:right; }

