{
"repeat_class_SINE/Alu" => 1,
"repeat_class_SINE/MIR" => 1,
"repeat_name_7SLRNA" => 1,
"repeat_name_Alu" => 1,
"repeat_name_AluJ" => 1,
"repeat_name_AluJ/F(R)AM" => 1,
"repeat_name_AluJ/FLAM" => 1,
"repeat_name_AluJ/FRAM" => 1,
"repeat_name_AluJ/monomer" => 1,
"repeat_name_AluJb" => 1,
"repeat_name_AluJo" => 1,
"repeat_name_AluJo/FLAM" => 0,
"repeat_name_AluJo/FRAM" => 0,
"repeat_name_AluS" => 1,
"repeat_name_AluSc" => 1,
"repeat_name_AluSg" => 1,
"repeat_name_AluSg/x" => 1,
"repeat_name_AluSg1" => 1,
"repeat_name_AluSp" => 1,
"repeat_name_AluSp/q" => 1,
"repeat_name_AluSq" => 1,
"repeat_name_AluSq/x" => 1,
"repeat_name_AluSx" => 1,
"repeat_name_AluY" => 1,
"repeat_name_AluYa5" => 1,
"repeat_name_AluYa8" => 1,
"repeat_name_AluYb8" => 1,
"repeat_name_AluYc" => 1,
"repeat_name_AluYc2" => 1,
"repeat_name_AluYc3" => 1,
"repeat_name_AluYc5" => 1,
"repeat_name_AluYd2" => 1,
"repeat_name_AluYd3a1" => 1,
"repeat_name_AluYe" => 1,
"repeat_name_AluYe5" => 1,
"repeat_name_BC200" => 1,
"repeat_name_FAM" => 1,
"repeat_name_FLAM" => 1,
"repeat_name_FLAM_A" => 1,
"repeat_name_FLAM_C" => 1,
"repeat_name_FRAM" => 1,
"repeat_name_FRAM/FAM" => 1,
"repeat_name_MIR" => 1,
"repeat_name_MIR3" => 0
}
