#doxygen {
	position: relative;
  margin: 3px 1% 0;
  border: 1px solid #ccc;
}

#doxygen,
#doxygen table,
#doxygen div,
#doxygen p,
#doxygen dl  {	font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;	font-size: 12px; color: black; }
#doxygen pre { margin-left: 0 }

/* @group Heading Levels */

#doxygen h1 { font-size: 150%; }
#doxygen h2 { font-size: 120%; color: black; }
#doxygen h3 { font-size: 100%; }
#doxygen dt { font-weight: bold; }
#doxygen .title { font-size: 150%; font-weight: bold; margin: 10px 2px; }
#doxygen div.multicol { -moz-column-gap: 1em; -webkit-column-gap: 1em; -moz-column-count: 3; -webkit-column-count: 3; }
#doxygen p.startli,
#doxygen p.startdd,
#doxygen p.starttd { margin-top: 2px; }
#doxygen p.endli { margin-bottom: 0px; }
#doxygen p.enddd { margin-bottom: 4px; }
#doxygen p.endtd { margin-bottom: 2px; }

/* @end */

#doxygen caption { font-weight: bold; }
#doxygen span.legend { font-size: 70%; text-align: center; }
#doxygen h3.version { font-size: 90%; text-align: center; }
#doxygen div.qindex,
#doxygen div.navtab { background-color: #EBEFF6; border: 1px solid #A3B4D7; text-align: center; margin: 2px; padding: 2px; }
#doxygen div.qindex,
#doxygen div.navpath { width: 100%; line-height: 140%; }
#doxygen div.navtab { margin-right: 15px; }

/* @group Link Styling */

#doxygen a { color: #3D578C; font-weight: normal; text-decoration: none; }
#doxygen .contents a:visited { color: #4665A2; }
#doxygen a:hover { text-decoration: underline; }
#doxygen a.qindex { font-weight: bold; }
#doxygen a.qindexHL { font-weight: bold; background-color: #9CAFD4; color: #ffffff; border: 1px double #869DCA; }
#doxygen .contents a.qindexHL:visited { color: #ffffff; }
#doxygen a.el { font-weight: bold; }
#doxygen a.code { color: #4665A2; border: 0; background: 0; margin: 0; padding: 0; }
#doxygen a.codeRef { color: #4665A2; }

/* @end */

#doxygen dl.el { margin-left: -1cm; }
#doxygen .fragment { font-family: monospace, fixed; font-size: 105%; }

#doxygen pre.fragment {
  border: 1px solid #C4CFE5;
  background-color: #FBFCFD;
  padding: 4px 6px;
  margin: 4px 8px 4px 2px;
  overflow: auto;
  word-wrap: break-word;
  font-size:  9pt;
  line-height: 125%;
}

#doxygen div.ah {
  background-color: black;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0.2em;
  border: solid thin #333;
  border-radius: 0.5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  box-shadow: 2px 2px 3px #999;
  -webkit-box-shadow: 2px 2px 3px #999;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#000),color-stop(0.3, #444));
  background-image: -moz-linear-gradient(center top, #eee 0%, #444 40%, #000);
}

#doxygen div.groupHeader { margin-left: 16px; margin-top: 12px; font-weight: bold;}
#doxygen div.groupText { margin-left: 16px; font-style: italic; }
#doxygen div.contents { margin-top: 10px; margin-left: 10px; margin-right: 5px; }
#doxygen td.indexkey { background-color: #EBEFF6; font-weight: bold; border: 1px solid #C4CFE5; margin: 2px 0px 2px 0; padding: 2px 10px; }
#doxygen td.indexvalue { background-color: #EBEFF6; border: 1px solid #C4CFE5; padding: 2px 10px; margin: 2px 0px; }
#doxygen tr.memlist { background-color: #EEF1F7; }
#doxygen p.formulaDsp { text-align: center; }
#doxygen img.formulaInl { vertical-align: middle; }
#doxygen div.center { text-align: center; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
#doxygen div.center img { border: 0px; }
#doxygen address.footer { text-align: right; padding-right: 12px; }
#doxygen img.footer { border: 0px; vertical-align: middle; }

/* @group Code Colorization */

#doxygen span.keyword { color: #008000; }
#doxygen span.keywordtype { color: #604020; }
#doxygen span.keywordflow { color: #e08000; }
#doxygen span.comment { color: #800000; }
#doxygen span.preprocessor { color: #806020; }
#doxygen span.stringliteral { color: #002080; }
#doxygen span.charliteral { color: #008080; }
#doxygen span.vhdldigit { color: #ff00ff; }
#doxygen span.vhdlchar { color: #000000; }
#doxygen span.vhdlkeyword { color: #700070; }
#doxygen span.vhdllogic { color: #ff0000; }

/* @end */

#doxygen td.tiny { font-size: 75%; }
#doxygen .dirtab { padding: 4px; border-collapse: collapse; border: 1px solid #A3B4D7; }
#doxygen th.dirtab { background: #EBEFF6; font-weight: bold; }
#doxygen hr { height: 0px; border: none; border-top: 1px solid #4A6AAA; }
#doxygen hr.footer { height: 1px; }

/* @group Member Descriptions */

#doxygen table.memberdecls { border-spacing: 0px; padding: 0px; }

#doxygen .mdescLeft,        #doxygen .mdescRight,
#doxygen .memItemLeft,      #doxygen .memItemRight,
#doxygen .memTemplItemLeft, #doxygen .memTemplItemRight,
#doxygen .memTemplParams { background-color: #F9FAFC; border: none; margin: 4px; padding: 1px 0 0 8px; }
#doxygen .mdescLeft,
#doxygen .mdescRight { padding: 0px 8px 4px 8px; color: #555; }
#doxygen .memItemLeft,
#doxygen .memItemRight,
#doxygen .memTemplParams { border-top: 1px solid #C4CFE5; }
#doxygen .memItemLeft,
#doxygen .memTemplItemLeft { white-space: nowrap; }
#doxygen .memItemRight { width: 100%; }
#doxygen .memTemplParams { color: #4665A2; white-space: nowrap; }

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

#doxygen .memtemplate { font-size: 80%; color: #4665A2; font-weight: normal; margin-left: 9px; }
#doxygen .memnav { background-color: #EBEFF6; border: 1px solid #A3B4D7; text-align: center; margin: 2px; margin-right: 15px; padding: 2px; }
#doxygen .mempage { width: 100%; }
#doxygen .memitem { padding: 0; margin-bottom: 10px; margin-right: 5px; }
#doxygen .memname { white-space: nowrap; font-weight: bold; margin-left: 6px; }
#doxygen .memproto {
  border-top: 1px solid #A8B8D9;
  border-left: 1px solid #A8B8D9;
  border-right: 1px solid #A8B8D9;
  padding: 6px 0px 6px 0px;
  color: #253555;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  -webkit-border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  background-image: url(/info/docs/Doxygen/external-api/nav_f.png);
  background-repeat: repeat-x;
  background-color: #E2E8F2;
}

#doxygen .memdoc {
  border-bottom: 1px solid #A8B8D9;      
  border-left: 1px solid #A8B8D9;      
  border-right: 1px solid #A8B8D9; 
  padding: 2px 5px;
  background-color: #FBFCFD;
  border-top-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
  background-image: -moz-linear-gradient(center top, #FFFFFF 0%, #FFFFFF 60%, #F7F8FB 95%, #EEF1F7);
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  background-image: -webkit-gradient(linear,center top,center bottom,from(#FFFFFF), color-stop(0.6,#FFFFFF), color-stop(0.60,#FFFFFF), color-stop(0.95,#F7F8FB), to(#EEF1F7));
}

#doxygen .paramkey { text-align: right; }
#doxygen .paramtype { white-space: nowrap; }
#doxygen .paramname { color: #602020; white-space: nowrap; }
#doxygen .paramname em { font-style: normal; }
#doxygen .params,
#doxygen .retval,
#doxygen .exception,
#doxygen .tparams { border-spacing: 6px 2px; }       
#doxygen .params .paramname,
#doxygen .retval .paramname { font-weight: bold; vertical-align: top; }
#doxygen .params .paramtype { font-style: italic; vertical-align: top; }       
#doxygen .params .paramdir { font-family: "courier new",courier,monospace; vertical-align: top; }

/* @end */

/* @group Directory (tree) */

/* for the tree view */

#doxygen .ftvtree { font-family: sans-serif; margin: 0px; }

/* these are for tree view when used as main index */

#doxygen .directory { font-size: 9pt; font-weight: bold; margin: 5px; }
#doxygen .directory h3 { margin: 0px; margin-top: 1em; font-size: 11pt; }
#doxygen .directory > h3 { margin-top: 0; }
#doxygen .directory p { margin: 0px; white-space: nowrap; }
#doxygen .directory div { display: none; margin: 0px; }
#doxygen .directory img { vertical-align: -30%; }

/* these are for tree view when not used as main index */

#doxygen .directory-alt { font-size: 100%; font-weight: bold; }
#doxygen .directory-alt h3 { margin: 0px; margin-top: 1em; font-size: 11pt; }
#doxygen .directory-alt > h3 { margin-top: 0; }
#doxygen .directory-alt p { margin: 0px; white-space: nowrap; }
#doxygen .directory-alt div { display: none; margin: 0px; }
#doxygen .directory-alt img { vertical-align: -30%; }

/* @end */

#doxygen div.dynheader { margin-top: 8px; }
#doxygen address { font-style: normal; color: #2A3D61; }
#doxygen table.doxtable { border-collapse: collapse; }
#doxygen table.doxtable td,
#doxygen table.doxtable th { border: 1px solid #2D4068; padding: 3px 7px 2px; }
#doxygen table.doxtable th { background-color: #374F7F; color: #FFFFFF; font-size: 110%; padding-bottom: 4px; padding-top: 5px; text-align: left; }
#doxygen .tabsearch { top: 0px; left: 10px; height: 36px; background-image: url(/info/docs/Doxygen/external-api/tab_b.png); z-index: 101; overflow: hidden; font-size: 13px; }

#doxygen .navpath ul {
  font-size: 11px;
  background-image: url(/info/docs/Doxygen/external-api/tab_b.png);
  background-repeat: repeat-x;
  height: 30px;
  line-height: 30px;
  color: #8AA0CC;
  border: solid 1px #C2CDE4;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#doxygen .navpath li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding-left: 10px;
  padding-right: 15px;
  background-image: url(/info/docs/Doxygen/external-api/bc_s.png);
  background-repeat: no-repeat;
  background-position: right;
  color: #364D7C;
}

#doxygen .navpath li.navelem a { height: 32px; display: block; text-decoration: none; outline: none; }
#doxygen .navpath li.navelem a:hover { color: #6884BD; }
#doxygen .navpath li.footer { list-style-type: none; list-style-image: none; float: right; padding-left: 10px; padding-right: 15px; background-image: none; color :#364D7C; font-size: 8pt; }
#doxygen div.summary { float: right; font-size: 8pt; padding-right: 5px; width: 50%; text-align: right; }       
#doxygen div.summary a { white-space: nowrap; }
#doxygen div.ingroups { font-size: 8pt; padding-left: 5px; width: 50%; text-align: left; }
#doxygen div.ingroups a { white-space: nowrap; }
#doxygen div.header { background-image: url(/info/docs/Doxygen/external-api/nav_h.png); background-repeat: repeat-x; background-color: #F9FAFC; margin: 0px; border-bottom: 1px solid #C4CFE5; }
#doxygen div.headertitle { padding: 5px 5px 5px 10px; }
#doxygen dl { padding: 0 0 0 10px; }
#doxygen dl.note,
#doxygen dl.warning,
#doxygen dl.attention,
#doxygen dl.pre,
#doxygen dl.post,
#doxygen dl.invariant,
#doxygen dl.deprecated,
#doxygen dl.todo,
#doxygen dl.test,
#doxygen dl.bug { border-left: 4px solid; padding: 0 0 0 6px; }
#doxygen dl.note { border-color: #D0C000; }
#doxygen dl.warning,
#doxygen dl.attention { border-color: #FF0000; }
#doxygen dl.pre,
#doxygen dl.post,
#doxygen dl.invariant { border-color: #00D000; }
#doxygen dl.deprecated { border-color: #505050; }
#doxygen dl.todo { border-color: #00C0E0; }
#doxygen dl.test { border-color: #3030E0; }
#doxygen dl.bug { border-color: #C08050; }

#doxygen #projectlogo { text-align: center; vertical-align: bottom; border-collapse: separate; }
#doxygen #projectlogo img { border: 0px none; }
#doxygen #projectname { font: 300% Tahoma, Arial,sans-serif; margin: 0px; padding: 2px 0px; }
#doxygen #projectbrief { font: 120% Tahoma, Arial,sans-serif; margin: 0px; padding: 0px; }
#doxygen #projectnumber { font: 50% Tahoma, Arial,sans-serif; margin: 0px; padding: 0px; }
#doxygen #titlearea { padding: 0px; margin: 0px; width: 100%; border-bottom: 1px solid #5373B4; }

#doxygen .image { text-align: center; }
#doxygen .dotgraph { text-align: center; }
#doxygen .mscgraph { text-align: center; }
#doxygen .caption { font-weight: bold; }
#doxygen br.typebreak { display: none; }


/* IMPORT FROM tabs.css */

#doxygen .tabs,
#doxygen .tabs2,
#doxygen .tabs3 { background-image: url(/info/docs/Doxygen/external-api/tab_b.png); width: 100%; z-index: 101; font-size: 13px; height: 36px; }
#doxygen .tabs2 { font-size: 10px; }
#doxygen .tabs3 { font-size: 9px; }
#doxygen .tablist { margin: 0; padding: 0; display: table; }
#doxygen .tablist li { float: left; display: table-cell; background-image: url(/info/docs/Doxygen/external-api/tab_b.png); line-height: 36px; list-style: none; }
#doxygen .tablist a {
  display: block;
  padding: 0 20px;
  font-weight: bold;
  background-image: url(/info/docs/Doxygen/external-api/tab_s.png);
  background-repeat: no-repeat;
  background-position: right;
  color: #283A5D;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
  text-decoration: none;
  outline: none;
}

#doxygen .tabs3 .tablist a { padding: 0 10px; }
#doxygen .tablist a:hover { background-image: url(/info/docs/Doxygen/external-api/tab_h.png); background-repeat: repeat-x; color: #fff; text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0); text-decoration: none; }
#doxygen .tablist li.current a { background-image: url(/info/docs/Doxygen/external-api/tab_a.png); background-repeat: repeat-x; color: #fff; text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0); }

/* IMPORT FROM navtree.css */

#doxygen #nav-tree .children_ul { margin: 0; padding: 4px; }
#doxygen #nav-tree ul { list-style: none outside none; margin: 0px; padding: 0px; }
#doxygen #nav-tree li { white-space: nowrap; margin: 0px; padding: 0px; }
#doxygen #nav-tree .plus { margin: 0px; }
#doxygen #nav-tree .selected { background-image: url(/info/docs/Doxygen/external-api/tab_a.png); background-repeat: repeat-x; color: #fff; text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0); }
#doxygen #nav-tree img { margin: 0px; padding: 0px; border: 0px; vertical-align: middle; }
#doxygen #nav-tree a { text-decoration: none; padding: 0px; margin: 0px; outline: none; }
#doxygen #nav-tree .label { margin: 0px; padding: 0px; }
#doxygen #nav-tree .label a { padding: 2px; }
#doxygen #nav-tree .selected a { text-decoration: none; padding: 2px; margin: 0px; color: #fff; }
#doxygen #nav-tree .children_ul { margin: 0px; padding: 0px; }
#doxygen #nav-tree .item { margin: 0px; padding: 0px; }
#doxygen #nav-tree { padding: 0px 0px; background-color: #FAFAFF;  font-size: 14px; overflow: auto; }
#doxygen #doc-content { overflow: auto; display: block; padding: 0px; margin: 0px; }
#doxygen #side-nav { padding: 0 6px 0 0; margin: 0px; display: block; position: absolute; left: 0px; width: 300px; }
#doxygen .ui-resizable .ui-resizable-handle { display: block; }
#doxygen .ui-resizable-e { background: url(/info/docs/Doxygen/external-api/ftv2splitbar.png) repeat scroll right center transparent; cursor: e-resize; height: 100%; right: 0; top: 0; width: 6px; }
#doxygen .ui-resizable-handle { display: none; font-size: 0.1px; position: absolute; z-index: 1; }
#doxygen #nav-tree-contents { margin: 6px 0px 0px 0px; }
#doxygen #nav-tree { background-image:url(/info/docs/Doxygen/external-api/nav_h.png); background-repeat: repeat-x; background-color: #F9FAFC; }

/* IMPORT FROM search/search.css */

#doxygen #FSearchBox { float: left; }
#doxygen #searchli { float: right; display: block; width: 170px; height: 36px; }
#doxygen #MSearchBox { white-space : nowrap; position: absolute; float: none; display: inline; margin-top: 8px; right: 0px; width: 170px; z-index: 102; }
#doxygen #MSearchBox .left { display: block; position: absolute; left: 10px; width: 20px; height: 19px; background: url(/info/docs/Doxygen/external-api/search/search_l.png) no-repeat; background-position: right; }
#doxygen #MSearchSelect { display: block; position: absolute; width: 20px; height: 19px; }
#doxygen .left #MSearchSelect { left: 4px; }
#doxygen .right #MSearchSelect { right: 5px; }

#doxygen #MSearchField {
  display: block;
  position: absolute;
  height: 19px;
  background: url(/info/docs/Doxygen/external-api/search/search_m.png) repeat-x;
  border: none;
  width: 116px;
  margin-left: 20px;
  padding-left: 4px;
  color: #909090;
  outline: none;
  font: 9pt Arial, Verdana, sans-serif;
}

#doxygen #FSearchBox #MSearchField { margin-left: 15px; }
#doxygen #MSearchBox .right { display: block; position: absolute; right: 10px; top: 0px; width: 20px; height: 19px; background: url(/info/docs/Doxygen/external-api/search/search_r.png) no-repeat; background-position: left; }
#doxygen #MSearchClose { display: none; position: absolute; top: 4px; background: none; border: none; margin: 0px 4px 0px 0px; padding: 0px 0px; outline: none; }
#doxygen .left #MSearchClose { left: 6px; }
#doxygen .right #MSearchClose { right: 2px; }
#doxygen .MSearchBoxActive #MSearchField { color: #000000; }

#doxygen #MSearchSelectWindow {
  display: none;
  position: absolute;
  left: 0; top: 0;
  border: 1px solid #90A5CE;
  background-color: #F9FAFC;
  z-index: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  -moz-border-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

#doxygen .SelectItem { font: 8pt Arial, Verdana, sans-serif; padding-left: 2px; padding-right: 12px; border: 0px; }
#doxygen span.SelectionMark { margin-right: 4px; font-family: monospace; outline-style: none; text-decoration: none; }
#doxygen a.SelectItem { display: block; outline-style: none; color: #000000; text-decoration: none; padding-left: 6px; padding-right: 12px; }
#doxygen a.SelectItem:focus,
#doxygen a.SelectItem:active { color: #000000; outline-style: none; text-decoration: none; }
#doxygen a.SelectItem:hover { color: #FFFFFF; background-color: #3D578C; outline-style: none; text-decoration: none; cursor: pointer; display: block; }

#doxygen iframe#MSearchResults { width: 60ex; height: 15em; }
#doxygen #MSearchResultsWindow { display: none; position: absolute; left: 0; top: 0; border: 1px solid #000; background-color: #EEF1F7; margin-top: -115px; }

#doxygen div.searchresults { margin-left: 10px; margin-right: 10px; }